{% extends "base_users.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}Company Profile{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'exports/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'companies/css/styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'exports/css/modal.css' %}">

<style>
    
</style>
{% endblock %}

{% block content %}
<div class="profile-container">
    
    <div class="profile-card">
        <img src="https://via.placeholder.com/150" class="profile-image" alt="Profile Image">
        <div class="profile-name">{{ company_profile.name|default:'Company Name' }}</div>
        <div class="profile-role">{{ company_profile.role|default:'Role'|title }}</div>
        <div class="profile-actions">
            {% if not company_profile %}
                <a href="{% url 'companies:edit_company_profile' %}">Create Profile</a>
            {% elif own_profile %}
                <a href="{% url 'companies:edit_company_profile' %}">Edit Profile</a>
            {% endif %}
        </div>
        <div class="profile-details">
            <h5>About Us</h5>
            <p>{{ company_profile.description|default:'No description available.' }}</p>
        </div>
        <div class="contact-info">
            <div class="info-item">
                <span class="label">Email:</span>
                <span class="value"><a href="mailto:{{ company_profile.email }}">{{ company_profile.email }}</a></span>
            </div>
            <div class="info-item">
                <span class="label">Address:</span>
                <span class="value">{{ company_profile.address|default:'No address provided.' }}</span>
            </div>
            <div class="info-item">
                <span class="label">Phone:</span>
                <span class="value">{{ company_profile.phone_number|default:'No phone number provided.' }}</span>
            </div>
            <div class="info-item">
                <span class="label">Website:</span>
                <span class="value">
                    {% if company_profile.website %}
                        <a href="{{ company_profile.website }}" target="_blank">{{ company_profile.website }}</a>
                    {% else %}
                        Not available
                    {% endif %}
                </span>
            </div>
        </div>
        {% if is_partner_profile %}
            <div class="partner-documents">
                <div class="title">
                    <h4 class="text-primary-custom fw-bold px-4">Partner Documents</h4>
                </div>
                <div class="document-list">
                    {% if company_profile.partners_contract_folder %}
                        <button type="button" id="openUploadModalBtn" class="btn">Upload Document</button>
                    {% else %}
                        <p>Folder not available.</p>
                    {% endif %}
                    {% for document in documents %}
                        <p><a href="{% url 'documents:download_document' document.uuid %}">{{ document.original_filename }}</a></p>
                        <p>{{ document.comments }}</p>
                        <p>{{ document.uploaded_by }}</p>
                        {% if request.user == document.uploaded_by %}
                        <form method="post" action="{% url 'documents:delete_documents' document.uuid %}" onsubmit="return confirm('Are you sure you want to delete this document?');">
                            {% csrf_token %}
                            <button type="submit" class="remove-btn">Delete</button>
                        </form>
                        {% endif %}
                    {% empty %}
                        <p>No documents found.</p>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% if is_partner_profile %}
    {% include "modal/upload_document_partner_modal.html" %}
{% endif %}

{% block javascript %}

<script>
    const documentId = '{{ document.uuid }}';
</script>

<script>

document.addEventListener('DOMContentLoaded', function () {
    const csrftoken = getCookie('csrftoken');
    let validFilesMap = new Map();
    let invalidFileCount = 0;

    const modal = document.getElementById('uploadDocumentPartnerModal');
    const uploadZone = document.getElementById('uploadZoneDocument');
    const uploadedFiles = document.getElementById('uploadedFilesDocument');
    const cancelBtn = document.getElementById('cancelUploadBtn');
    const uploadBtn = document.getElementById('uploadBtn');
    const folderId = "{{ folder_id }}";

    function updateUploadButtonState() {
        uploadBtn.disabled = invalidFileCount > 0 || validFilesMap.size === 0;
    }

    function formatFileSize(sizeInBytes) {
        if (sizeInBytes < 1024) return "1 KB";
        let sizeInKb = sizeInBytes / 1024.0;
        const units = ['KB', 'MB', 'GB', 'TB', 'PB'];
        for (let unit of units) {
            if (sizeInKb < 1024.0) return `${sizeInKb.toFixed(1)} ${unit}`;
            sizeInKb /= 1024.0;
        }
        return `${sizeInKb.toFixed(1)} PB`;
    }

    function getFileTypeIcon(fileName) {
        const extension = fileName.split('.').pop().toLowerCase();
        const iconMap = {
            'png': '{% static "images/table_icon/png.png" %}',
            'csv': '{% static "images/table_icon/csv.png" %}',
            'zip': '{% static "images/table_icon/zip.png" %}',
            'jpg': '{% static "images/table_icon/jpg.png" %}',
            'pdf': '{% static "images/table_icon/pdf.png" %}',
            'doc': '{% static "images/table_icon/doc.png" %}',
            'xls': '{% static "images/table_icon/xls.png" %}',
            'ppt': '{% static "images/table_icon/ppt.png" %}',
            'txt': '{% static "images/table_icon/txt.png" %}',
            'default': '{% static "images/table_icon/file.png" %}'
        };
        return iconMap[extension] || iconMap['default'];
    }

    function handleFiles(files) {
        Array.from(files).forEach(file => {
            const formattedSize = formatFileSize(file.size);
            const li = document.createElement('li');
            li.innerHTML = `<div class="file-info">
                                <img src="${getFileTypeIcon(file.name)}" alt="${file.name.split('.').pop()}" class="file-icon">
                                <span class="file-name">${file.name}</span>
                                <span class="file-size">${formattedSize}</span>
                                <button class="remove-document-btn">Delete</button>
                            </div>
                            <progress class="upload-progress" value="0" max="100"></progress>`;
            uploadedFiles.appendChild(li);

            const progressBar = li.querySelector('.upload-progress');
            if (file.size <= 10 * 1024 * 1024) {
                validFilesMap.set(file, li);
            } else {
                li.style.border = "1px solid red";
                li.style.backgroundColor = "#ffcccc88";
                invalidFileCount++;
            }

            let reader = new FileReader();
            reader.onload = () => {
                progressBar.value = 100;
                progressBar.style.background = "linear-gradient(to right, #4caf50 100%, #f3f3f3 0%)";
            };
            reader.readAsDataURL(file);

            li.querySelector('.remove-document-btn').addEventListener('click', () => {
                if (file.size > 10 * 1024 * 1024) {
                    invalidFileCount--;
                } else {
                    validFilesMap.delete(file);
                }
                uploadedFiles.removeChild(li);
                updateUploadButtonState();
            });
        });
        updateUploadButtonState();
    }

    function setupFileHandlers() {
        uploadZone.addEventListener('click', function () {
            var fileInput = document.createElement('input');
            fileInput.type = 'file';
            fileInput.multiple = true;
            fileInput.style.display = 'none';
            fileInput.addEventListener('change', function () {
                handleFiles(fileInput.files);
            });
            fileInput.click();
        });

        uploadZone.addEventListener('dragover', function (e) {
            e.preventDefault();
            e.stopPropagation();
            uploadZone.classList.add('dragover');
        });

        uploadZone.addEventListener('dragleave', function (e) {
            e.preventDefault();
            e.stopPropagation();
            uploadZone.classList.remove('dragover');
        });

        uploadZone.addEventListener('drop', function (e) {
            e.preventDefault();
            e.stopPropagation();
            uploadZone.classList.remove('dragover');
            handleFiles(e.dataTransfer.files);
        });
    }

    openUploadModalBtn.addEventListener('click', function () {
        modal.style.display = 'block';
        validFilesMap.clear();
        invalidFileCount = 0;
        updateUploadButtonState();
    });

    cancelBtn.addEventListener('click', function () {
        modal.style.display = 'none';
        validFilesMap.clear();
        invalidFileCount = 0;
        uploadedFiles.innerHTML = '';
        updateUploadButtonState();
    });

    uploadBtn.addEventListener('click', function () {
        // Prevent multiple submissions
        uploadBtn.disabled = true;

        const xhr = new XMLHttpRequest();
        const formData = new FormData();
        validFilesMap.forEach((li, file) => {
            formData.append('document_files', file);
            formData.append('comments', li.querySelector('.comment-textarea')?.value || '');
        });
        xhr.open('POST', `/companies/folders/${folderId}/upload_document_partner/`, true);
        xhr.setRequestHeader('X-CSRFToken', csrftoken);

        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200 || xhr.status === 201) {
                    try {
                        const response = JSON.parse(xhr.responseText);
                        if (response.errors) {
                            response.errors.forEach(error => {
                                showMessage(`Error with file ${error.file}: ${JSON.stringify(error.errors)}`, 'error');
                            });
                        } else {
                            setSessionMessage(response.message, 'success');
                            location.reload();  // Refresh the page after a successful response
                        }
                    } catch (e) {
                        showMessage('Invalid response from server.', 'error');
                        console.error('Error parsing response:', e);
                    }
                } else {
                    showMessage('There was an error processing your request.', 'error');
                    console.error('Server returned status:', xhr.status, xhr.responseText);
                }
            }
        };
        xhr.onerror = function () {
            showMessage('There was an error processing your request.', 'error');
            console.error('Request failed');
            uploadBtn.disabled = false; // Re-enable if there's an error

        };

        xhr.send(formData);
    });

    setupFileHandlers();
});
</script>
{% endblock %}
{% endblock %}
