{% extends "base_users.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}Company Profile{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'exports/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'companies/css/styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'exports/css/modal.css' %}">

<style>
table {
    min-width: 100px;
}
.partner-documents-header {
    display: flex;
    align-items: center;  /* Aligns items vertically in the center */
    justify-content: space-between;  /* Spreads out the items with space between them */
}

.partner-documents-header h3 {
    margin: 0;  /* Removes any default margin */
}

.partner-documents-header .button-8 {
    margin-left: auto;  /* Pushes the button to the far right */
}

.profile-left {
    justify-content: center; /* This centers the elements vertically */
    height: 100%; /* Ensure the container takes full height */
    padding: 20px;
    box-sizing: border-box; /* Include padding in height calculation */
}

/* Adjust the widths for item names in the active partnerships section */
#active-partnerships .item-name {
    flex: 1 1 60%; /* Increase width allocation to 60% */
    max-width: 60%; /* Ensure it does not exceed 60% of the container */
}

#active-partnerships .item-exports {
    flex: 1 1 40%; /* Decrease width allocation for exports to 40% */
    max-width: 40%; /* Ensure it does not exceed 40% of the container */
}

section p:not(:first-child) {
    margin-bottom: 0px;
    margin-top: 0px;
}

a {
    position: relative; /* Make sure the tooltip is positioned relative to the anchor */
}

</style>

{% endblock %}

{% block content %}

{% if messages %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        {% for message in messages %}
            showMessage('{{ message }}', '{{ message.tags }}');
        {% endfor %}
    });
</script>
{% endif %}

<div class="profile-container">
    {% if not company_profile %}
    <div class="alert alert-warning">
        <strong>Notice:</strong> You must create or link your company profile before using other functions on this platform.
        <br>
        Please create or link your company profile to proceed.
    </div>
    {% endif %}
    <!-- Upper Section -->
    <div class="profile-section upper">
        <div class="profile-left" style="max-width:33%;">
            <div class="profile-image-container">
                {% if company_profile.profile_image %}
                    {% if own_profile %}
                        <img src="{{ company_profile.profile_image }}" class="profile-image" alt="Profile Image">
                    {% else %}
                        <img src="{{ company_profile.profile_image.url }}" class="profile-image" alt="Profile Image">
                    {% endif %}
                {% else %}
                    <img src="{% static 'images/empty_state/150.png' %}" class="profile-image" alt="Profile Image">
                {% endif %}
            </div>
            <div class="profile-name">{{ company_profile.name|default:'Company Name' }}</div>
            <div class="profile-role">{{ company_profile.role|default:'Role'|title }}</div>

            <div class="profile-actions">
                {% if not company_profile %}
                    <a href="{% url 'companies:edit_company_profile' %}">Create Profile</a>
                    <button id="openTokenModal" class="btn">Enter Token</button>
                {% elif own_profile %}
                    <button id="loadTokenBtn" class="btn">Show Invite Token</button>
                    <button id="showLinkedUsersBtn" class="btn">Show Linked Users</button> <!-- New Button -->
                {% else %}
                {% endif %}
            </div>

            <div class="social-icons">
                <span class="social-icon">
                    {% if company_profile.linkedin %}
                        <a href="{{ company_profile.linkedin }}" style="border:none;" target="_blank">
                            <img src="{% static 'images/social_media_icon/LinkedIn Color Original.png' %}" alt="LinkedIn">
                        </a>
                    {% else %}
                        <img src="{% static 'images/social_media_icon/LinkedIn Color Original-1.png' %}" alt="LinkedIn Grey">
                    {% endif %}
                </span>
                <span class="social-icon">
                    {% if company_profile.facebook %}
                        <a href="{{ company_profile.facebook }}" style="border:none;" target="_blank">
                            <img src="{% static 'images/social_media_icon/Facebook Color Original.png' %}" alt="Facebook">
                        </a>
                    {% else %}
                        <img src="{% static 'images/social_media_icon/Facebook Color Original-1.png' %}" alt="Facebook Grey">
                    {% endif %}
                </span>
                <span class="social-icon">
                    {% if company_profile.twitter %}
                        <a href="{{ company_profile.twitter }}" style="border:none;" target="_blank">
                            <img src="{% static 'images/social_media_icon/X Color Original.png' %}" alt="X">
                        </a>
                    {% else %}
                        <img src="{% static 'images/social_media_icon/X Color Original-1.png' %}" alt="X Grey">
                    {% endif %}
                </span>
            </div>
        </div>
        <div class="profile-right about-us">
            {% if company_profile and own_profile %}
            <small>Creation Date: {{ company_profile.created_at|date:"j F Y" }} </small>
                <a href="{% url 'companies:edit_company_profile' %}" style="text-decoration: none; color:#39739d; float: right;" class="button-8">Edit Profile</a>
            {% endif %}

            <section class="about-us-section">
                <h5 style="text-decoration: underline;">About Us</h5>
                <p>{{ company_profile.description|linebreaks|default:'No description available.' }}</p>
            </section>

            <div class="company-contact-info">
                <div class="company-info">
                    <h5 style="text-decoration: underline;">Company Info</h5>
                    <div class="info-item" style="margin-top:1em;">
                        <span class="label">Email:</span>
                        <span class="value"><a href="mailto:{{ company_profile.email }}">{{ company_profile.email }}</a></span>
                    </div>
                    <div class="info-item">
                        <span class="label">Address:</span>
                        <span class="value">{{ company_profile.address|default:'' }}</span>
                    </div>
                    <div class="info-item">
                        <span class="label">Phone:</span>
                        <span class="value">{{ company_profile.phone_number|default:'' }}</span>
                    </div>
                    <div class="info-item">
                        <span class="label">Website:</span>
                        <span class="value">
                            {% if company_profile.website %}
                                <a href="{{ company_profile.website }}" target="_blank">{{ company_profile.website }}</a>
                            {% else %}
                            {% endif %}
                        </span>
                    </div>
                </div>
                <div class="contact-info">
                    <h5 style="text-decoration: underline;">Contact Info</h5>
                    <div class="info-item" style="margin-top:1em;">
                        <span class="label2">Primary Contact Name:</span>
                        <span class="value">{{ company_profile.primary_contact_name|default:'' }}</span>
                    </div>
                    <div class="info-item">
                        <span class="label2">Primary Contact Email:</span>
                        <span class="value"><a href="mailto:{{ company_profile.primary_contact_email }}">{{ company_profile.primary_contact_email|default:'' }}</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Lower Section -->

    {% if own_profile %}
    <div class="overall-info">
        <div class="info-section">
            <div class="content-wrapper">
                <h3>Recent Products</h3>
                <p>Total Products: {{ products_count }}</p>
                <ul>
                    {% for product in recent_products %}
                        <li>
                            <a href="{% url 'products:product_explorer' product.uuid %}">
                                <span class="item-name" data-tooltip="{{ product.name }}">
                                    <span class="text-content">{{ product.name }}</span>
                                    <div class="tooltip">{{ product.name }}</div>
                                </span>
                                <span class="item-code" data-tooltip="{{ product.code }}">
                                    <span class="text-content">{{ product.code }}</span>
                                    <div class="tooltip">{{ product.code }}</div>
                                </span>
                                <span class="item-date" data-tooltip="{{ product.created_at|date:"M d, Y" }}">
                                    <span class="text-content">{{ product.created_at|date:"M d, Y" }}</span>
                                    <div class="tooltip">{{ product.created_at|date:"M d, Y" }}</div>
                                </span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="info-section">
            <div class="content-wrapper">
                <h3>Upcoming Exports</h3>
                <p>Total Exports: {{ exports_count }}</p>
                <ul>
                    {% for export in recent_exports %}
                        <li>
                            <a href="{% url 'exports:export_detail' export.uuid %}">
                                <span class="item-name">
                                    <span class="text-content">{{ export.partner }}</span>
                                    <div class="tooltip">{{ export.partner }}</div> <!-- Tooltip for partner -->
                                </span>
                                <span class="item-code">
                                    <span class="text-content">{{ export.reference }}</span>
                                    <div class="tooltip">{{ export.reference }}</div> <!-- Tooltip for reference -->
                                </span>
                                <span class="item-date">
                                    <span class="text-content">{{ export.date|date:"M d, Y" }}</span>
                                    <div class="tooltip">{{ export.date|date:"M d, Y" }}</div> <!-- Tooltip for date -->
                                </span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="info-section" id="active-partnerships">
            <div class="content-wrapper" style="padding-right: 0px;">
                <h3>Active Partnerships</h3>
                <p>Total Partnerships: {{ partnerships_count }}</p>
                <ul>
                    {% for partnership in recent_partnerships %}
                    <li>
                        <a href="{% url 'partners:partner_company_profile' partnership.uuid %}">
                            <span class="item-name">
                                <span class="text-content">{{ partnership.partners }}</span>
                                <div class="tooltip">{{ partnership.partners }}</div> <!-- Tooltip for partners -->
                            </span>
                            <span class="item-exports">
                                <span class="text-content">Exports: {{ partnership.total_exports }}</span>
                                <div class="tooltip">{{ partnership.total_exports }}</div> <!-- Tooltip for total exports -->
                            </span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}

    {% if is_partner_profile %}
    <div class="profile-section">
        <div class="documents-right partner-documents">
            <div class="partner-documents-header">
                <h3 style="margin-top: 0">Partner Documents</h3>
                <button type="button" id="openUploadModalBtn" class="button-8">Upload</button>
            </div>
            <div class="table-wrapper">
                <table class="document-table">
                    <thead>
                        <tr>
                            <th>Filename</th>
                            <th>Comments</th>
                            <th>Uploaded By</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for document in documents %}
                            <tr>
                                <td><a href="{% url 'documents:download_document' document.uuid %}">{{ document.original_filename }}</a></td>
                                <td>{{ document.comments }}</td>
                                <td>{{ document.uploaded_by }}</td>
                                
                                <td>
                                    {% if request.user.userprofile.company_profiles.first.uuid == document.uploaded_by.uuid %}
                                    <form class="delete-form" data-document-id="{{ document.uuid }}">
                                        {% csrf_token %}
                                        <button type="submit" class="remove-btn">Delete</button>
                                    </form>
                                    {% endif %}
                                </td>
                            </tr>
                        {% empty %}
                            <tr><td colspan="4">No documents found.</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% if is_partner_profile %}
    {% include "modal/upload_document_partner_modal.html" %}
{% endif %}
{% if not company_profile %}
    {% include "modal/token_input_modal.html" %}
{% endif %}
{% if company_profile and own_profile %}
    {% include "modal/token_modal.html" %}
    {% include "modal/linked_users_modal.html" %}
{% endif %}

{% block javascript %}

<script>
//function to show/not show toolpit

document.addEventListener("DOMContentLoaded", function() {
    const spans = document.querySelectorAll('.item-name, .item-code, .item-date, .item-exports');

    spans.forEach(span => {
        const textContent = span.querySelector('.text-content');
        const tooltip = span.querySelector('.tooltip');

        // Check if text content is overflowing
        if (textContent.scrollWidth > textContent.clientWidth) {
            // Text is overflowing, enable tooltip
            span.classList.add('tooltip-active');
            tooltip.style.display = 'block'; // Ensure the tooltip is visible when activated
        } else {
            // Text is not overflowing, disable tooltip
            tooltip.style.display = 'none'; // Hide the tooltip if not overflowing
        }
    });
});



//function to add company profile by entering token
document.addEventListener('DOMContentLoaded', function() {
    const openTokenModalBtn = document.getElementById('openTokenModal');
    const tokenModal = document.getElementById('tokenModal');
    const tokenForm = document.getElementById('token-form');

    // Open modal
    if (openTokenModalBtn) {
        openTokenModalBtn.addEventListener('click', function() {
            tokenModal.style.display = 'block';
        });
    }

    // Submit form
    if (tokenForm) {
        tokenForm.addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent default form submission
            const token = document.getElementById('tokenInput').value;

            fetch('/companies/link-company/', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ token: token })
            }).then(response => {
                if (!response.ok) {
                    return response.json().then(data => {
                        throw new Error(data.error || 'Network response was not ok');
                    });
                }
                return response.json();
            }).then(data => {
                setSessionMessage(data.message, 'success'); // Handle success
                tokenModal.style.display = 'none'; // Close the modal
                location.reload();  // Optionally reload the page to reflect changes
            }).catch(error => {
                showMessage(error.message, 'error'); // Handle errors
            });
        });
    }
});


//function to show linked users

document.addEventListener('DOMContentLoaded', function() {
    const showLinkedUsersBtn = document.getElementById('showLinkedUsersBtn');
    const linkedUsersModal = document.getElementById('linkedUsersModal');
    const linkedUsersList = document.getElementById('linkedUsersList');
    const loadingOverlayUsers = document.getElementById('loadingOverlayUsers');

    if (showLinkedUsersBtn) {
        showLinkedUsersBtn.addEventListener('click', function() {
            linkedUsersModal.style.display = 'block';
            loadingOverlayUsers.style.display = 'flex';

            const signedCompanyUuid = "{{ signed_company_uuid }}";

            fetch(`/companies/linked_users/${signedCompanyUuid}/`, {
                method: 'GET',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'),
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                loadingOverlayUsers.style.display = 'none';
                linkedUsersList.innerHTML = ''; // Clear the list first

                if (data.users && data.users.length > 0) {
                    let maxUsernameLength = 0;
                    data.users.forEach(user => {
                        if (user.name.length > maxUsernameLength) {
                            maxUsernameLength = user.name.length;
                        }
                    });

                    // Create list items
                    data.users.forEach(user => {
                        const li = document.createElement('li');
                        li.className = 'linked-user-item';
                        li.innerHTML = `<span class="user-name" style="width: ${maxUsernameLength}ch;">${user.name}</span> <span class="separator">-</span> <span class="user-email">${user.email}</span>`;
                        linkedUsersList.appendChild(li);
                    });
                } else {
                    const li = document.createElement('li');
                    li.textContent = 'No linked users found.';
                    linkedUsersList.appendChild(li);
                }
            })
            .catch(error => {
                loadingOverlayUsers.style.display = 'none';
                showMessage('An error occurred while fetching linked users.');
                console.error('Error:', error);
                linkedUsersModal.style.display = 'none';
            });
        });
    }
});

//function to show company token
document.addEventListener('DOMContentLoaded', function() {
    const openTokenModalBtn = document.getElementById('openTokenModal');
    const loadTokenBtn = document.getElementById('loadTokenBtn');
    const tokenModal = document.getElementById('tokenModal');
    const tokenText = document.getElementById('tokenText');
    const loadingOverlay = document.getElementById('loadingOverlay');
    const modalSmallText = document.querySelector('.modal-title small');
    const copyTokenBtn = document.getElementById('copyTokenBtn');


    // Function to copy token text to clipboard
    function copyTokenToClipboard() {
        if (tokenText.style.display !== 'none') {
            const textArea = document.createElement('textarea');
            textArea.value = tokenText.innerText;
            document.body.appendChild(textArea);
            textArea.select();
            document.execCommand('copy');
            document.body.removeChild(textArea);
            showMessage('Token copied to clipboard', 'success');
        }
    }

    copyTokenBtn.addEventListener('click', copyTokenToClipboard);


    // Open token input modal
    if (openTokenModalBtn) {
        openTokenModalBtn.addEventListener('click', function() {
            tokenModal.style.display = 'block';
        });
    }

    // Load token and show modal
    if (loadTokenBtn) {
        loadTokenBtn.addEventListener('click', function() {
            const signedCompanyUuid = "{{ signed_company_uuid }}";
            tokenModal.style.display = 'block';
            loadingOverlay.style.display = 'flex';

            fetch(`/companies/token/${signedCompanyUuid}/`, {
                method: 'GET',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'),
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                loadingOverlay.style.display = 'none';
                if (data.invite_token) {
                    tokenText.textContent = data.invite_token;
                    modalSmallText.textContent = `Token uses: ${data.token_uses} / ${data.max_token_uses}`;
                    tokenText.style.display = 'block';
                    copyTokenBtn.style.display = 'block';

                } else {
                    showMessage(data.error, 'error');
                    tokenModal.style.display = 'none';
                }
            })
            .catch(error => {
                loadingOverlay.style.display = 'none';
                showMessage('An error occurred while fetching the token.');
                console.error('Error:', error);
                tokenModal.style.display = 'none';
            });
        });
    }
});
</script>

<script>
    document.addEventListener('DOMContentLoaded', function (){
        document.querySelectorAll('.delete-form').forEach(function(form) {
            form.addEventListener('submit', async function(event) {
                event.preventDefault(); // Prevent the default form submission

                const confirmation = await showRemoveModal('Are you sure you want to delete the document?');

                if (confirmation) {                    
                    const documentId = form.getAttribute('data-document-id');
                    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

                    fetch(`/documents/delete_partner_document/${documentId}/`, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrfToken,
                        }
                    })
                    .then(response => {
                        if (response.ok) {
                            location.reload(); // Reload the page to reflect the changes
                        } else {
                            showMessage('Unable to delete document. Please try again later.', 'error');
                        }
                    })
                    .catch(error => {
                        showMessage('An error occurred while deleting the document.', 'error');
                    });
                }
            });
        });
    });
</script>

<script>

document.addEventListener('DOMContentLoaded', function () {
    const csrftoken = getCookie('csrftoken');
    let validFilesMap = new Map();
    let invalidFileCount = 0;

    const modal = document.getElementById('uploadDocumentPartnerModal');
    const uploadZone = document.getElementById('uploadZoneDocument');
    const uploadedFiles = document.getElementById('uploadedFilesDocument');
    const cancelBtn = document.getElementById('cancelUploadBtn');
    const uploadBtn = document.getElementById('uploadBtn');
    const folderId = "{{ folder_id }}";

    function updateUploadButtonState() {
        uploadBtn.disabled = invalidFileCount > 0 || validFilesMap.size === 0;
    }

    function handleFiles(files) {
        Array.from(files).forEach(file => {
            const formattedSize = formatFileSize(file.size);
            const li = document.createElement('li');
            li.innerHTML = `<div class="file-info">
                                <img src="${getFileTypeIcon(file.name)}" alt="${file.name.split('.').pop()}" class="file-icon">
                                <span class="file-name">${file.name}</span>
                                <span class="file-size">${formattedSize}</span>
                                <button class="remove-document-btn">Delete</button>
                            </div>
                            <progress class="upload-progress" value="0" max="100"></progress>`;
            uploadedFiles.appendChild(li);

            const progressBar = li.querySelector('.upload-progress');
            if (file.size <= 10 * 1024 * 1024) {
                validFilesMap.set(file, li);
            } else {
                li.style.border = "1px solid red";
                li.style.backgroundColor = "#ffcccc88";
                invalidFileCount++;
            }

            let reader = new FileReader();
            reader.onload = () => {
                progressBar.value = 100;
                progressBar.style.background = "linear-gradient(to right, #4caf50 100%, #f3f3f3 0%)";
            };
            reader.readAsDataURL(file);

            li.querySelector('.remove-document-btn').addEventListener('click', () => {
                if (file.size > 10 * 1024 * 1024) {
                    invalidFileCount--;
                } else {
                    validFilesMap.delete(file);
                }
                uploadedFiles.removeChild(li);
                updateUploadButtonState();
            });
        });
        updateUploadButtonState();
    }

    function setupFileHandlers() {
        if (uploadZone) {
            uploadZone.addEventListener('click', function () {
                var fileInput = document.createElement('input');
                fileInput.type = 'file';
                fileInput.multiple = true;
                fileInput.style.display = 'none';
                fileInput.addEventListener('change', function () {
                    handleFiles(fileInput.files);
                });
                fileInput.click();
            });
        

            uploadZone.addEventListener('dragover', function (e) {
                e.preventDefault();
                e.stopPropagation();
                uploadZone.classList.add('dragover');
            });

            uploadZone.addEventListener('dragleave', function (e) {
                e.preventDefault();
                e.stopPropagation();
                uploadZone.classList.remove('dragover');
            });

            uploadZone.addEventListener('drop', function (e) {
                e.preventDefault();
                e.stopPropagation();
                uploadZone.classList.remove('dragover');
                handleFiles(e.dataTransfer.files);
            });
        }
    }

    const openUploadModalBtn = document.getElementById('openUploadModalBtn');

    if (openUploadModalBtn) {
        openUploadModalBtn.addEventListener('click', function () {
            modal.style.display = 'block';
            validFilesMap.clear();
            invalidFileCount = 0;
            updateUploadButtonState();
        });
    }

    if (cancelBtn) {
        cancelBtn.addEventListener('click', function () {
            modal.style.display = 'none';
            validFilesMap.clear();
            invalidFileCount = 0;
            uploadedFiles.innerHTML = '';
            updateUploadButtonState();
        });
    }

    if (uploadBtn) {
        uploadBtn.addEventListener('click', function () {
            // Prevent multiple submissions
            uploadBtn.disabled = true;

            const xhr = new XMLHttpRequest();
            const formData = new FormData();
            validFilesMap.forEach((li, file) => {
                formData.append('document_files', file);
                formData.append('comments', li.querySelector('.comment-textarea')?.value || '');
            });
            xhr.open('POST', `/companies/folders/${folderId}/upload_document_partner/`, true);
            xhr.setRequestHeader('X-CSRFToken', csrftoken);

            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200 || xhr.status === 201) {
                        try {
                            const response = JSON.parse(xhr.responseText);
                            if (response.errors) {
                                response.errors.forEach(error => {
                                    showMessage(`Error with file ${error.file}: ${JSON.stringify(error.errors)}`, 'error');
                                });
                            } else {
                                setSessionMessage(response.message, 'success');
                                location.reload();  // Refresh the page after a successful response
                            }
                        } catch (e) {
                            showMessage('Invalid response from server.', 'error');
                            console.error('Error parsing response:', e);
                        }
                    } else {
                        showMessage('There was an error processing your request.', 'error');
                        console.error('Server returned status:', xhr.status, xhr.responseText);
                    }
                }
            };
            xhr.onerror = function () {
                showMessage('There was an error processing your request.', 'error');
                console.error('Request failed');
                uploadBtn.disabled = false; // Re-enable if there's an error

            };

            xhr.send(formData);
        });
    }
    setupFileHandlers();
});
</script>
{% endblock %}
{% endblock %}
