    html, body {
        height: 100%;
        margin: 0;
        background-color: #f5f5f7;
    }
    .content-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh; /* Ensure the wrapper takes at least the height of the viewport */
    }
    .centered-section {
        max-width: 1296px; /* Maximum width */
        width: 100%; /* Responsive width */
        background-color: hsl(0, 0%, 98%);
        padding: 2rem;
        border-radius: 5px;
        margin: auto;
    }
    
    .login-container {
        max-width: 450px; /* Maximum width */
        width: 400px;
        min-width: 270px; /* Minimum width */
        width: 100%; /* Responsive width */
        margin: 0 auto;
        padding: 50px;
        box-shadow: 2px 4px 20px rgba(0,0,0,.08);
        border-radius: 5px;
    }
    
    /* Adjustments for smaller screens */
    @media (max-width: 1296px) {
        .centered-section, .login-container {
            max-width: 100%; /* Adjusts max width for smaller screens */
            padding: 2rem 1rem; /* Adjusts padding for smaller screens */
        }
    }
    
    @media (max-width: 768px) {
        .centered-section, .login-container {
            max-width: 100%; /* Full width on very small screens */
            padding: 1rem; /* Less padding on very small screens */
        }
    }
    .login-form h2 {
        text-align: center;
        margin-bottom: 24px;
        color: #333;
    }

    /* Compact Field Design */
    .form-group {
        margin-bottom: 10px; /* Reduced from default to make fields more compact */
    }

    /* Inline Fields Example */
    .inline-fields {
        display: flex;
        justify-content: space-between;
        gap: 10px; /* Adjust the space between the fields */
    }

    
    
    
    .inline-fields .form-group {
        flex: 1; /* Makes each .form-group take equal space */
    }

    /* Adjust Form Input and Font Sizes */
    .login-form .form-control, .login-form label {
        font-size: 0.9rem; /* Slightly smaller font size */
    }

    .login-form input[type="text"], 
    .login-form input[type="email"], 
    .login-form input[type="password"] {
        padding: 0.375rem 0.75rem; /* Adjust padding to make inputs smaller */
    }


    .btn-login {
        width: 100%;
        padding: 10px;
        background-color: #295893;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .signup-link {
        text-align: center;
        margin-top: 20px;
    }

    .signup-link a {
        color: #295893 !important;
    }

    .custom-alert ul {
        list-style-type: none; /* Remove bullets */
        padding-left: 0; /* Remove padding */
        margin-left: 0; /* Align text to the left */
        text-align: center;
    }

    .custom-alert ul li{
        color: #dc3545;
    }

    .custom-alert{
        color: #dc3545;
    }

    .custom-signup-container .signuplogin-form-wrapper {
        max-width: 400px; /* Adjust width as needed */
        margin: 0 auto;
        padding-top: 5%; /* Adjust top spacing */
    }

    .alert-message {
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        color: #333;
        padding: 10px;
        margin-bottom: 10px;
    }
    
    @keyframes fadeOut {
        0% { opacity: 1; }
        100% { opacity: 0; }
    }

    @media (max-width: 768px) {
        .custom-signup-container .signup-form-wrapper {
            padding-top: 15%; /* Increase top spacing on smaller devices */
        }
    }

    .is-invalid {
        border-color: #dc3545; /* Bootstrap's default invalid border color */
    }
    

    