{% extends "base_users.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}Export Details of {{ export.reference_number }} {% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'exports/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'exports/css/modal.css' %}">

<style>
    .button-8 {
        margin-right: 10px;
    }
    .detail-section {
        display: flex;
        padding: 20px 20px 0 20px;
        background-color: #ffffff;
        overflow-y: hidden;
        overflow-x: auto;
        height: 67.5vh;
        justify-content: space-between;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
        margin: 15px 2px 2px 2px;
        border-radius: 5px;
    }

    .detail-subsection {
        width: 48%;
        box-sizing: border-box;
    }

    .detail-subsection h4 {
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 10px;
    }

    .detail-subsection ul {
        list-style-type: none;
        padding: 0;
        
    }

    .detail-subsection ul li {
        padding: 5px 0;
    }

    .header-with-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ddd;
        height: 35.55px;
    }

    .header-with-buttons h4 {
        margin: 0;
    }

    .buttons {
        display: flex;
        gap: 8px;
    }


    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .actions {
        overflow:visible !important;
        text-align: center;
    }

    th:nth-child(2), td:nth-child(2) {
        width: 25%;
    }

    th:nth-child(3), td:nth-child(3) {
        width: 15%;
    }

    th:nth-child(4), td:nth-child(4) {
        width: 10%;
        
    }

    th:nth-child(5), td:nth-child(5) {
        width: 10%;
        text-align: center;
    }


    tbody {
        display: block;
        height: 54vh;/* Adjust according to header heights */
        overflow-y: auto;
        scrollbar-width: thin;
    }

    thead, tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed; /* Ensures table layout remains consistent */
    }

    .product-table {
        width: 100%;  /* Makes the table width responsive to the parent container */
        min-width: 400px;  /* Ensures table does not shrink below 600px */
        border-collapse: collapse;
    }



    @media (max-width: 768px) {
        .detail-section {
            flex-direction: column;
            height: auto; /* Let height adjust automatically */
        }

        .detail-subsection {
            width: 100% !important;
            margin-bottom: 20px;
            justify-content: start;
        }

        tbody {
            height: auto; /* Adjust height to auto for smaller screens */
            min-height: 28vh;
        }

        .table-responsive {
        }
    }

</style>
{% endblock %}

{% block content %}
<main>
    <input type="hidden" id="exportId" value="{{ export.id }}">
    <div class="background-overlay"></div>
    <div class="content-section">
        <div class="content-header-export-details">
            <div class="header-title">
                <h3>Export Details</h3>
                <div class="subheading">
                    <div><strong>Reference Number:</strong> {{ export.reference_number }}</div>
                    <div><strong>Partner Name:</strong> {{ export.partner.partner_name }}</div>
                    <div><strong>Partner Business:</strong> {{ export.partner.partner_company_type }}</div>
                    <div><strong>Export Date:</strong> {{ export.export_date }}</div>
                </div>
            </div>
            {% if not export.completed and export.created_by_id == request.user.id %}
            <div class="button-group">
                <div class="action-button-container">
                    <button class="button-8 action-button-title" data-dropdown-target="ActionDropdown">
                        Action
                    </button>
                    <div class="action-button-dropdown dropdown-content" id="ActionDropdown">
                        <a href="#" id="edit_export" data-export-id="{{ export.id }}">Edit</a>
                        <a href="#" id="complete_export" data-export-id="{{ export.id }}">Complete</a>
                    </div>
                </div>
                <button class="button-delete" id="delete_export" data-export-id="{{ export.id }}">Delete</button>
            </div>
            {% endif %}
        </div>

        <div class="detail-section">
            <div class="detail-subsection" style="width: 30%;">
                <div class="header-with-buttons">
                    <h4>Products ({{ export.products|length }})</h4>
                    {% if not export.completed and export.created_by_id == request.user.id %}
                    <div class="buttons" style="padding-bottom: 10px;">
                        <button class="button-7" id="addProduct">Add</button>
                        <button class="button-7-delete" id="deleteProduct">Delete</button>
                    </div>
                    {% endif %}
                </div>
                {% if export.products %}
                <div class="sub-table-container">
                    <table class="product-table">
                        <thead>
                            <tr>
                                <th style="overflow:hidden;"><input type="checkbox" id="selectAllProducts"></th>
                                <th>Product Code</th>
                                <th>Product Name</th>
                                <th>Owner</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in export.products %}
                                <tr>
                                    <td><input type="checkbox" class="product-checkbox" value="{{ product.id }}"></td>
                                    <td>{{ product.product_code }}</td>
                                    <td>{{ product.product_name }}</td>
                                    <td>{{ product.owner }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                    <p>No products associated with this export.</p>
                {% endif %}
            </div>
        
            <div class="detail-subsection" style="width: 68%;">
                <div class="header-with-buttons">
                    <h4>Documents ({{ export.documents|length }})</h4>
                    {% if not export.completed and export.created_by_id == request.user.id %}
                    <div class="buttons" style="padding-bottom: 10px;">
                        <button class="button-7" id="openUploadModalBtn">Upload</button>
                        <button class="button-7-delete disabled" id="deleteDocument">Delete</button>
                    </div>
                    {% endif %}
                </div>
                {% if export.documents %}
                <div class="sub-table-container">
                    <table>
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="selectAllDocuments"></th>
                                <th>File Name</th>
                                <th>Owner</th>
                                <th>Size</th>
                                <th>Uploaded At</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for document in export.documents %}
                                <tr data-document-id="{{ document.document_id }}" class="non-clickable-tr">
                                    <td><input type="checkbox" class="document-checkbox"></td>
                                    <td>
                                        <span class="file-name-table">{{ document.file_name }}</span>
                                    </td>
                                    <td>
                                        <span class="owner-table">{{ document.uploaded_by }}</span>
                                    </td>
                                    <td>{{ document.file_size }}</td>
                                    <td>{{ document.created_at }}</td>
                                    <td class="actions">
                                        <div class="action-button-container">
                                            <button class="action-button" data-dropdown-target="actionDropdown{{ forloop.counter }}">
                                                <img src="{% static 'images/table_icon/more_vert_24dp_FILL0_wght400_GRAD0_opsz24_333333.png' %}" alt="Actions">
                                            </button>
                                            <div class="action-button-dropdown dropdown-content" id="actionDropdown{{ forloop.counter }}">
                                                <a href="#" class="view-action">View</a>
                                                <a href="{% url 'exports:download_document' document_id=document.document_id %}" class="download-action">Download</a>
                                                <a href="#" class="delete-action" data-document-id="{{ document.document_id }}">Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                    <p>No documents uploaded for this export.</p>
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% include 'modal/upload_export_document_modal.html' %}
{% include 'modal/product_list_exports_modal.html' %}
{% include 'modal/edit_export_modal.html' %}


{% block javascript %}

<script>

document.addEventListener('DOMContentLoaded', function() {
    const completeExportButton = document.getElementById('complete_export');
    const exportId = document.getElementById('exportId').value;

    completeExportButton.addEventListener('click', function() {
        if (confirm('Are you sure you want to mark this export as completed?')) {
            fetch(`/exports/${exportId}/complete/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'),
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ export_id: exportId }),
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to mark export as completed.');
                }
                return response.json();
            })
            .then(data => {
                if (data.error) {
                    showMessage(data.error, 'error');
                } else {
                    setSessionMessage(data.message, 'success');
                    location.reload(); // Reload the page to see the updated details
                }
            })
            .catch(error => {
                showMessage('There was an error processing your request', 'error');
            });
        }
    });
});
</script>

<script>
// Function to edit export
document.addEventListener('DOMContentLoaded', function() {
    const editExportButton = document.getElementById('edit_export');
    const editExportModal = document.getElementById('editExportModal');
    const formMessages = document.getElementById('formMessages');
    const referenceNumberInput = document.getElementById('referenceNumber');
    const exportDateInput = document.getElementById('exportDate');
    const partnerSelect = document.getElementById('partner');
    const exportId = document.getElementById('exportId').value;

    function closeEditModal() {
        editExportModal.style.display = 'none';
    }

    function openEditModal() {
        fetch(`/exports/${exportId}/api/`, {
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            referenceNumberInput.value = data.reference_number;
            exportDateInput.value = data.export_date;
            partnerSelect.innerHTML = `<option value="${data.partner.id}">${data.partner.name}</option>`;
            partnerSelect.disabled = true;
            editExportModal.style.display = 'block';
        })
        .catch(error => {
            console.error('Error fetching export details:', error);
            formMessages.innerText = 'Failed to load export details. Please refresh and try again.';
            formMessages.style.display = 'block';
        });
    }

    editExportButton.addEventListener('click', openEditModal);

    document.querySelector('#CloseEditExport').addEventListener('click', closeEditModal);

    document.querySelector('#SubmitEditExport').addEventListener('click', function(event) {
        event.preventDefault();
        const formData = {
            reference_number: referenceNumberInput.value,
            export_date: exportDateInput.value,
            partner: { id: parseInt(partnerSelect.value) }
        };

        fetch(`/exports/${exportId}/edit/`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken'),
            },
            body: JSON.stringify(formData),
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Failed to update export.');
            }
            return response.json();
        })
        .then(data => {
            if (data.error) {
                formMessages.innerText = data.error;
                formMessages.style.display = 'block';
            } else {
                closeEditModal();
                location.reload(); // Reload to see the updated details
            }
        })
        .catch(error => {
            console.error('Error updating export:', error);
            formMessages.innerText = 'Failed to update export. Please try again.';
            formMessages.style.display = 'block';
        });
    });
});




// Function to delete products
document.addEventListener('DOMContentLoaded', function () {
    const csrftoken = getCookie('csrftoken');
    const deleteProductBtn = document.getElementById('deleteProduct');
    const selectAllProducts = document.getElementById('selectAllProducts');
    const productCheckboxes = document.querySelectorAll('.product-checkbox');
    const exportId = document.getElementById('exportId').value; // Ensure this value is correctly set

    // Initial state: disable the delete button
    deleteProductBtn.disabled = true;
    deleteProductBtn.classList.add('disabled');

    // Enable or disable the delete button based on the checkbox states
    function toggleDeleteButton() {
        const anyChecked = Array.from(productCheckboxes).some(checkbox => checkbox.checked);
        deleteProductBtn.disabled = !anyChecked;
        if (anyChecked) {
            deleteProductBtn.classList.remove('disabled');
            deleteProductBtn.classList.add('enabled');
        } else {
            deleteProductBtn.classList.remove('enabled');
            deleteProductBtn.classList.add('disabled');
        }
    }

    // Add event listeners to checkboxes
    selectAllProducts.addEventListener('change', function () {
        productCheckboxes.forEach(checkbox => {
            checkbox.checked = this.checked;
        });
        toggleDeleteButton();
    });

    productCheckboxes.forEach(checkbox => {
        checkbox.addEventListener('change', toggleDeleteButton);
    });

    // Add event listener to the delete button
    deleteProductBtn.addEventListener('click', function () {
        const checkedProductIds = Array.from(productCheckboxes)
            .filter(checkbox => checkbox.checked)
            .map(checkbox => checkbox.value); // This gets the value of the checkbox, which should be set to the product ID

        if (checkedProductIds.length === 0) {
            alert('Please select at least one product to delete');
            return;
        }

        if (confirm('Are you sure you want to remove the selected product(s) from this export?')) {
            fetch(`/exports/${exportId}/remove_products/`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify({ product_ids: checkedProductIds })
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    showMessage(data.error, 'error');
                } else {
                    setSessionMessage(data.message, 'success');
                    location.reload(); // Reload the page to reflect the changes
                }
            })
            .catch(error => {
                console.error('Error removing products:', error);
                showMessage('There was an error processing your request', 'error');
            });
        }
    });
});
    
// Function to delete documents
document.addEventListener('DOMContentLoaded', function () {
    const csrftoken = getCookie('csrftoken');
    const deleteDocumentBtn = document.getElementById('deleteDocument');
    const selectAllDocuments = document.getElementById('selectAllDocuments');
    const documentCheckboxes = document.querySelectorAll('.document-checkbox');
    const exportId = document.getElementById('exportId').value; // Assuming you have an input with the export ID

    // Initial state: disable the delete button
    deleteDocumentBtn.disabled = true;
    deleteDocumentBtn.classList.remove('enabled');
    deleteDocumentBtn.classList.add('disabled');

    // Enable or disable the delete button based on the checkbox states
    function toggleDeleteButton() {
        const anyChecked = Array.from(documentCheckboxes).some(checkbox => checkbox.checked);
        deleteDocumentBtn.disabled = !anyChecked;
        if (anyChecked) {
            deleteDocumentBtn.classList.remove('disabled');
            deleteDocumentBtn.classList.add('enabled');
        } else {
            deleteDocumentBtn.classList.remove('enabled');
            deleteDocumentBtn.classList.add('disabled');
        }
    }

    // Add event listeners to checkboxes
    selectAllDocuments.addEventListener('change', function () {
        documentCheckboxes.forEach(checkbox => {
            checkbox.checked = this.checked;
        });
        toggleDeleteButton();
    });

    documentCheckboxes.forEach(checkbox => {
        checkbox.addEventListener('change', toggleDeleteButton);
    });

    // Add event listener to the delete button
    deleteDocumentBtn.addEventListener('click', function () {
        const checkedDocumentIds = Array.from(documentCheckboxes)
            .filter(checkbox => checkbox.checked)
            .map(checkbox => checkbox.closest('tr').dataset.documentId);

        if (checkedDocumentIds.length === 0) {
            alert('Please select at least one document to delete');
            return;
        }

        if (confirm('Are you sure you want to delete the selected document(s)?')) {
            fetch(`/exports/${exportId}/delete-documents/`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify({ document_ids: checkedDocumentIds })
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    showMessage(data.error, 'error');
                } else {
                    setSessionMessage(data.message, 'success');
                    location.reload(); // Reload the page to reflect the changes
                }
            })
            .catch(error => {
                console.error('Error deleting documents:', error);
                showMessage('There was an error processing your request', 'error');
            });
        }
    });


    // Individual document delete functionality
    document.querySelectorAll('.delete-action').forEach(deleteBtn => {
        deleteBtn.addEventListener('click', function (e) {
            e.preventDefault();
            const documentId = this.dataset.documentId;

            if (confirm('Are you sure you want to delete this document?')) {
                fetch(`/exports/${exportId}/delete-documents/`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken
                    },
                    body: JSON.stringify({ document_ids: [documentId] })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        showMessage(data.error, 'error');
                    } else {
                        setSessionMessage(data.message, 'success');
                        location.reload(); // Reload the page to reflect the changes
                    }
                })
                .catch(error => {
                    console.error('Error deleting document:', error);
                    showMessage('There was an error processing your request', 'error');
                });
            }
        });
    });
});

//Function to upload documents
document.addEventListener('DOMContentLoaded', function () {
    const csrftoken = getCookie('csrftoken');
    let validFilesMap = new Map(); // Tracks valid files
    let invalidFileCount = 0; // Count of invalid files

    const modal = document.getElementById('uploadDocumentModal');
    const uploadZone = document.getElementById('uploadZoneDocument');
    const uploadedFiles = document.getElementById('uploadedFilesDocument');
    const cancelBtn = document.getElementById('cancelUploadBtn');
    const uploadBtn = document.getElementById('uploadBtn');
    const openUploadModalBtn = document.getElementById('openUploadModalBtn');  // Button to open the modal
    const exportId = document.getElementById('exportId').value; // Get export ID from a hidden input or any other source

    function updateUploadButtonState() {
        uploadBtn.disabled = invalidFileCount > 0 || validFilesMap.size === 0;
    }

    // Function to format file size
    function formatFileSize(sizeInBytes) {
        if (sizeInBytes < 1024) return "1 KB";
        let sizeInKb = sizeInBytes / 1024.0;
        const units = ['KB', 'MB', 'GB', 'TB', 'PB'];
        for (let unit of units) {
            if (sizeInKb < 1024.0) return `${sizeInKb.toFixed(1)} ${unit}`;
            sizeInKb /= 1024.0;
        }
        return `${sizeInKb.toFixed(1)} PB`;
    }

    // Function to get the file type icon path
    function getFileTypeIcon(fileName) {
        const extension = fileName.split('.').pop().toLowerCase();
        const iconMap = {
            'png': '{% static "images/table_icon/png.png" %}',
            'csv': '{% static "images/table_icon/csv.png" %}',
            'zip': '{% static "images/table_icon/zip.png" %}',
            'jpg': '{% static "images/table_icon/jpg.png" %}',
            'pdf': '{% static "images/table_icon/pdf.png" %}',
            'doc': '{% static "images/table_icon/doc.png" %}',
            'xls': '{% static "images/table_icon/xls.png" %}',
            'ppt': '{% static "images/table_icon/ppt.png" %}',
            'txt': '{% static "images/table_icon/txt.png" %}',
            'default': '{% static "images/table_icon/file.png" %}'
        };
        return iconMap[extension] || iconMap['default'];
    }

    // Handle files
    function handleFiles(files) {
        Array.from(files).forEach(file => {
            const formattedSize = formatFileSize(file.size);
            const li = document.createElement('li');
            li.innerHTML = `<div class="file-info">
                                <img src="${getFileTypeIcon(file.name)}" alt="${file.name.split('.').pop()}" class="file-icon">
                                <span class="file-name">${file.name}</span>
                                <span class="file-size">${formattedSize}</span>
                                <button class="remove-document-btn">Delete</button>
                            </div>
                            <progress class="upload-progress" value="0" max="100"></progress>`;
            uploadedFiles.appendChild(li);

            const progressBar = li.querySelector('.upload-progress');
            if (file.size <= 10 * 1024 * 1024) {
                validFilesMap.set(file, li);
            } else {
                li.style.border = "1px solid red";
                li.style.backgroundColor = "#ffcccc88";
                progress.style.background = "linear-gradient(to right, #f44336 100%, #f3f3f3 0%) !important";
                invalidFileCount++; // Increment invalid file count
            }

            let reader = new FileReader();
            reader.onload = () => {
                progressBar.value = 100;
                progressBar.style.background = "linear-gradient(to right, #4caf50 100%, #f3f3f3 0%)";
            };
            reader.readAsDataURL(file);

            li.querySelector('.remove-document-btn').addEventListener('click', () => {
                if (file.size > 10 * 1024 * 1024) {
                    invalidFileCount--; // Decrement invalid file count
                } else {
                    validFilesMap.delete(file);
                }
                uploadedFiles.removeChild(li);
                updateUploadButtonState();
            });
        });
        updateUploadButtonState();
    }

    // Setup file handlers
    function setupFileHandlers() {
        uploadZone.addEventListener('click', function() {
            var fileInput = document.createElement('input');
            fileInput.type = 'file';
            fileInput.multiple = true;
            fileInput.style.display = 'none';
            fileInput.addEventListener('change', function() {
                handleFiles(fileInput.files);
            });
            fileInput.click();
        });

        uploadZone.addEventListener('dragover', function(e) {
            e.preventDefault();
            e.stopPropagation();
            uploadZone.classList.add('dragover');
        });

        uploadZone.addEventListener('dragleave', function(e) {
            e.preventDefault();
            e.stopPropagation();
            uploadZone.classList.remove('dragover');
        });

        uploadZone.addEventListener('drop', function(e) {
            e.preventDefault();
            e.stopPropagation();
            uploadZone.classList.remove('dragover');
            handleFiles(e.dataTransfer.files);
        });
    }

    // Event listener to open the modal
    openUploadModalBtn.addEventListener('click', function () {
        modal.style.display = 'block';
        validFilesMap.clear();
        invalidFileCount = 0;
        updateUploadButtonState();
    });

    // Event listener to close the modal
    cancelBtn.addEventListener('click', function() {
        modal.style.display = 'none';
        validFilesMap.clear();
        invalidFileCount = 0;
        uploadedFiles.innerHTML = '';
        updateUploadButtonState();
    });

    // Event listener to handle file upload
    uploadBtn.addEventListener('click', function() {
        const xhr = new XMLHttpRequest();
        const formData = new FormData();
        validFilesMap.forEach((li, file) => formData.append('documents', file));
        xhr.open('POST', `/exports/${exportId}/upload/`, true);
        xhr.setRequestHeader('X-CSRFToken', csrftoken);

        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200 || xhr.status === 201) {
                    try {
                        const response = JSON.parse(xhr.responseText);
                        if (response.errors) {
                            showMessage('There was an error processing your request.', 'error');
                        } else {
                            setSessionMessage(response.message, 'success');
                            location.reload();
                        }
                    } catch (e) {
                        showMessage('Invalid response from server.', 'error');
                        console.error('Error parsing response:', e);
                    }
                } else {
                    showMessage('There was an error processing your request.', 'error');
                    console.error('Server returned status:', xhr.status, xhr.responseText);
                }
            }
        };

        xhr.onerror = function() {
            showMessage('There was an error processing your request.', 'error');
            console.error('Request failed');
        };

        xhr.send(formData);
    });

    setupFileHandlers();
});


</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Select/Deselect all products
        const selectAllProducts = document.getElementById('selectAllProducts');
        if (selectAllProducts) {
            const productCheckboxes = document.querySelectorAll('.product-checkbox');
            selectAllProducts.addEventListener('change', function() {
                productCheckboxes.forEach(checkbox => {
                    checkbox.checked = this.checked;
                });
            });
        }

        // Select/Deselect all documents
        const selectAllDocuments = document.getElementById('selectAllDocuments');
        if (selectAllDocuments) {
            const documentCheckboxes = document.querySelectorAll('.document-checkbox');
            selectAllDocuments.addEventListener('change', function() {
                documentCheckboxes.forEach(checkbox => {
                    checkbox.checked = this.checked;
                });
            });
        }
    });

    'delete_export'
    document.addEventListener('DOMContentLoaded', function () {
        const deleteButton = document.getElementById('delete_export');

        if (deleteButton) {
            deleteButton.addEventListener('click', function () {
                const exportId = deleteButton.getAttribute('data-export-id');
                if (confirm('Are you sure you want to delete this export?')) {
                    fetch(`/exports/delete/`, {
                        method: 'DELETE',
                        headers: {
                            'X-CSRFToken': getCookie('csrftoken'),
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ export_id: exportId })
                    })
                    .then(response => {
                        if (response.ok) {
                            return response.json();
                        } else {
                            throw new Error('Failed to delete export.');
                        }
                    })
                    .then(data => {
                        setSessionMessage(data.message, 'success');
                        window.location.href = '/exports/';  // Redirect to export list page after deletion
                    })
                    .catch(error => {
                        console.error('Error deleting export:', error);
                        showMessage('There was an error deleting the export.', 'error');
                    });
                }
            });
        }
    });
</script>

{% endblock %}
{% endblock %}