{% extends "base_users.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}Partner List{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'exports/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'exports/css/modal.css' %}">
<style>

    .button-group {
        gap: 10px;
    }
	th:nth-child(1), td:nth-child(1) {
		width: 1%;
	}
	th:nth-child(2), td:nth-child(2) {
		width: 15%;
	}

	th:nth-child(3), td:nth-child(3) {
		width: 10%;
	}

	th:nth-child(4), td:nth-child(4) {
		width: 10%;
	}

	th:nth-child(6), td:nth-child(6) {
		width: 5%;
		text-align: center;
	}


</style>
{% endblock %}

{% block content %}
<main>
    <div class="background-overlay"></div>
    <div class="content-section-2">
        <div class="content-header-partner">
			<div class="header-top">
                <div class="header-title-partner">
                    <h3>My Partners</h3>
                    <small class="subheading">Number of Partners: {{ partner_count }}</small>
                </div>
                <div class="button-group">
                    <button type="button" class="button-8" onclick="showModal()">
                        View
                        {% if unaccepted_invitations_count > 0 %}
                        <span class="button-8-badge"></span>
                        {% endif %}
                    </button>
                    <button type="button" class="button-8" onclick="openModal('sendInvitationModal')">Invite</button>
                </div>
            </div>
            <div class="filter-sort">
                <form method="get" action="" id="filterSortForm">
                    <button type="reset" class="btn-reset" id="resetButton">Reset</button>
                    <input type="text" class="form-control" id="filter_value" name="filter_value" value="{{ request.GET.filter_value }}" placeholder="Search Partners" aria-label="Filter...">
                    <select class="form-select" name="filter_type" aria-label="Filter type">
                        <option value="company_name" {% if request.GET.filter_type == 'company_name' %}selected{% endif %}>Name</option>
                        <option value="email" {% if request.GET.filter_type == 'email' %}selected{% endif %}>Email</option>
                        <option value="role" {% if request.GET.filter_type == 'role' %}selected{% endif %}>Role</option>
                    </select>
                    <button type="submit" class="btn-submit">Apply</button>
                </form>
            </div>
			{% if form.errors %}
				{% for field in form %}
					{% if field.errors %}
						<div id="alert-message" class="alert alert-danger fw-bold" role="alert">
							{{ field.errors|first }}
						</div>
					{% endif %}
				{% endfor %}
			{% endif %}
		</div>
        <div class="table-container-2">
            <table>
                <thead>
                    <tr class="">
						<th></th>
						<th id="companyNameHeader">Partner Name <span class="sort-icon desc inactive"></span></th>
						<th id="roleHeader">Partner Role <span class="sort-icon desc inactive"></span></th>
						<th id="emailHeader">Company Email <span class="sort-icon desc inactive"></span></th>
						<th id="createdAtHeader">Partnership Since <span class="sort-icon desc active"></span></th>
						<th>Action</th>
                    </tr>
                </thead>
                <tbody id="partnerTableBody">
                    {% for partner in partner_info %}
                    <tr class="non-clickable-tr">
						<td></td>
                        <td>{{ partner.company_name }}</td>
                        <td>{{ partner.company_role }}</td>
                        <!--<td>{{ partner.company_email }}</td>-->
                        <td>{{ partner.email }}</td>
                        <td>{{ partner.created_at }}</td>
                        <td class="actions">
                            <div class="action-button-container">
                                <button class="action-button">
                                    <img src="{% static 'images/table_icon/more_vert_24dp_FILL0_wght400_GRAD0_opsz24_333333.png' %}" alt="Actions">
                                </button>
                                <div class="action-button-dropdown">
                                    <a href="#" id="delete-partner" data-partner-id="{{ partner.id }}">Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6">No Partners Added</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>

{% include "modal/send_invitation_modal.html" %}
{% include "modal/invitation_list_modal.html" %}

{% block javascript %}

<script>
    // Function to delete a partner
    document.addEventListener('DOMContentLoaded', () => {
        const deleteLinks = document.querySelectorAll('#delete-partner');

        deleteLinks.forEach(link => {
            link.addEventListener('click', function(event) {
                event.preventDefault();
                const partnerId = this.getAttribute('data-partner-id');

                if (confirm('Are you sure you want to delete this partner?')) {
                    fetch(`/partners/delete/${partnerId}/`, {
                        method: 'POST',  // Using POST for simplicity
                        headers: {
                            'X-CSRFToken': getCookie('csrftoken'),
                            'Content-Type': 'application/json'
                        }
                    }).then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();  // Only try to parse JSON if response was OK
                    }).then(data => {
                        if (data.error) {
                            showMessage(data.error, 'error');
                        } else {
                            setSessionMessage(data.message, 'success');
                            location.reload();  // Reload the page to update the list
                        }
                    }).catch(error => {
                        console.error('Error:', error);
                        showMessage('There was an error processing your request.', 'error');
                    });
                }
            });
        });
    });
</script>
<script>

    function openModal(modalId) {
        document.getElementById(modalId).style.display = 'block';
    }

    function closeModal(modalId) {
        document.getElementById(modalId).style.display = 'none';
    }

    function showModal() {
        document.getElementById('invitationListModal').style.display = 'block';
    }

	//Function to reset search filters
	document.addEventListener('DOMContentLoaded', function() {
		const resetButton = document.getElementById('resetButton');
		const filterSortForm = document.getElementById('filterSortForm');

		resetButton.addEventListener('click', function() {
			// Clear the form fields
			filterSortForm.reset();

			// Remove the URL query parameters by submitting the form without search parameters
			window.location.href = window.location.pathname;
		});
	});

	//Function to sort the table
    document.addEventListener('DOMContentLoaded', function() {
        const tableBody = document.getElementById('partnerTableBody');
        const companyNameHeader = document.getElementById('companyNameHeader');
        const roleHeader = document.getElementById('roleHeader');
        const emailHeader = document.getElementById('emailHeader');
        const createdAtHeader = document.getElementById('createdAtHeader');

        let sortDirection = {
            companyName: null,
            role: null,
            email: null,
            createdAt: 'asc'
        };

        function sortTable(column, type, header) {
            // Reset sort directions for all headers except the current one
            Object.keys(sortDirection).forEach(key => {
                if (key !== header.id) {
                    sortDirection[key] = null; // Reset other headers
                }
            });

            // If the current header has no sort direction set, initialize it
            if (!sortDirection[header.id]) {
                sortDirection[header.id] = type === 'string' ? 'asc' : 'desc';
            }

            const rows = Array.from(tableBody.querySelectorAll('tr'));
            let compareFunction;

            if (type === 'string') {
                compareFunction = (a, b) => {
                    const aText = a.querySelector(`td:nth-child(${column})`).textContent.trim();
                    const bText = b.querySelector(`td:nth-child(${column})`).textContent.trim();
                    return sortDirection[header.id] === 'asc' ? aText.localeCompare(bText) : bText.localeCompare(aText);
                };
            } else if (type === 'date') {
                compareFunction = (a, b) => {
                    const aDate = new Date(a.querySelector(`td:nth-child(${column})`).textContent.trim());
                    const bDate = new Date(b.querySelector(`td:nth-child(${column})`).textContent.trim());
                    return sortDirection[header.id] === 'desc' ? aDate - bDate : bDate - aDate;
                };
            }

            rows.sort(compareFunction);
            rows.forEach(row => tableBody.appendChild(row));

            // Toggle the current header's sort direction
            sortDirection[header.id] = sortDirection[header.id] === 'asc' ? 'desc' : 'asc';
            updateSortIcons(header.id);
        }

        function updateSortIcons(activeHeaderId) {
            // Only manage active/inactive states when a sort action is triggered
            document.querySelectorAll('.sort-icon').forEach(icon => {
                icon.classList.add('inactive');
                icon.classList.remove('active');
            });

            const activeIcon = document.querySelector(`#${activeHeaderId} .sort-icon`);
            activeIcon.classList.remove('inactive');
            activeIcon.classList.add('active');
            activeIcon.classList.toggle('asc', sortDirection[activeHeaderId] === 'asc');
            activeIcon.classList.toggle('desc', sortDirection[activeHeaderId] === 'desc');
        }

        companyNameHeader.addEventListener('click', () => {
            sortTable(2, 'string', companyNameHeader);
        });

        roleHeader.addEventListener('click', () => {
            sortTable(3, 'string', roleHeader);
        });

        emailHeader.addEventListener('click', () => {
            sortTable(4, 'string', emailHeader);
        });

        createdAtHeader.addEventListener('click', () => {
            sortTable(5, 'date', createdAtHeader);
        });

        // Ensure the correct initial visibility and state of the sort icon
        updateSortIcons('createdAtHeader');
    });
</script>


<script>
	document.addEventListener('DOMContentLoaded', function() {
		const seeMoreButtons = document.querySelectorAll('.see-more-invitations');
	
		seeMoreButtons.forEach(button => {
			button.addEventListener('click', function() {
				const type = this.dataset.type;  // 'received' or 'sent'
				const listSelector = `#${type}Invitations`;
				const list = document.querySelector(listSelector);
				const start = list.children.length - 1;
				const url = `/partners/partners/?type=${type}&start=${start}`;
	
				fetch(url, {
					method: 'GET',
					headers: { 'X-Requested-With': 'XMLHttpRequest' },
				})
				.then(response => response.json())
				.then(data => {
					data.invitations.forEach(invitation => {
						const item = document.createElement('div');
						item.classList.add('list-group-item', 'list-group-item-action', 'px-5', 'py-3');
						item.innerHTML = `To/From: ${invitation.email}<br>Status: ${invitation.accepted ? 'Accepted' : 'Pending'}<br>Received: ${invitation.created_at}`;
						list.appendChild(item);
					});
	
					if (!data.has_more) {
						this.remove(); // Remove "See More" button if no more invitations
					}
				})
				.catch(error => console.error('Error:', error));
			});
		});
	});
</script>
<script src="{% static 'partners/js/partner_list.js' %}"></script>

{% endblock %}
{% endblock %}
