{% extends "base_users.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}Partner List{% endblock %}

{% block extra_css %}
<style>
	@media (min-width: 462px) and (max-width: 576px) {
		.custom-flex-sm-row {
			flex-direction: row !important;
		}
		.custom-me-2 {
			margin-right: 0.5rem !important;
		}
	}

	@media (max-width: 992px) {
		#mypartners {
			margin-bottom: 2rem;
		}
	}

	.custom-input-height {
		height: 40px;
		width:200px;
	}
	.custom-button-height {
		height: 40px;
		min-width: fit-content;
	}

	#alert-message {
		font-size: 0.95rem;
		color: #490000;
	}
	#success-message {
		font-size: 0.95rem;
		color: #012a49;
	}

	

	@media (max-width: 536px) {
        .responsive-wrap {
            flex-wrap: wrap;
        }
        .responsive-wrap > * {
            flex-basis: 100%;
        }
        /* Specific style for #sort div to add margin-top when wrapped */
        
    }
	@media (max-width: 902px) {
		#sort {
			margin-top: 10px;
		}
	}

	@media (min-width: 992px) and (max-width: 1316px) {
        #sort {
            margin-top: 10px;
        }
    }

	@media (min-width: 576px) and (max-width: 582px) {
		#mypartners {
			max-width: 450px;
		}
	}


</style>
{% endblock extra_css %}

{% block content %}
<div class="container mt-1">
	<div class="row">
		<!-- Main Content -->
		<div id="mypartners" class="col-12 col-lg-8">
            <div class="bg-white rounded-3 wrapper">
                <h4 class="text-primary-custom mb-3 fw-bold px-5 py-3 border-bottom">My Partners</h4>
				{% if form.errors %}
					{% for field in form %}
						{% if field.errors %}
						<div id="alert-message" class="ps-5 alert alert-danger fw-bold" role="alert"> <!-- Added margin-top for spacing -->
							{{ field.errors|first }}
						</div>
						{% endif %}
					{% endfor %}
				{% endif %}
				{% if messages %}
					{% for message in messages %}
						{% if 'invitation_action' in message.extra_tags %}
						<div id="success-message" class="alert alert-primary ps-5 fw-bold" role="alert">
							{{ message }}
						</div>
						{% elif 'error' in message.tags %}
						<div id="alert-message" class="ps-5 alert alert-danger fw-bold" role="alert">
							{{ message }}
						</div>
						{% endif %}
					{% endfor %}
				{% endif %}
                <button type="button" class="btn btn-primary mb-0 me-3 ms-5" data-bs-toggle="modal" data-bs-target="#sendInvitationModal">
					<small>
					Send Invitation
					</small>
				</button>
				<div class="px-5 pt-4">
					<form method="get" action="" class="">
						<div class="col-12 d-flex flex-wrap align-items-center justify-content-between">

							<div class="d-flex gap-2 align-items-center responsive-wrap">
								<input type="text" class="form-control form-control-sm" id="filter_value" name="filter_value" value="{{ request.GET.filter_value }}" placeholder="Search Partners" aria-label="Filter...">
			
								<div class="select-auto-width d-flex gap-2">
									<select class="form-select form-select-sm" name="filter_type" aria-label="Filter type">
										<option value="company_name" {% if request.GET.filter_type == 'company_name' %}selected{% endif %}>Name</option>
										<option value="email" {% if request.GET.filter_type == 'email' %}selected{% endif %}>Email</option>
										<option value="role" {% if request.GET.filter_type == 'role' %}selected{% endif %}>Role</option>
									</select>
								
			
									<button type="submit" class="btn btn-primary btn-sm" id="button-addon2">
										<svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="vertical-align: text-top;">
											<path d="M21 21L16.6569 16.6569M16.6569 16.6569C18.1046 15.2091 19 13.2091 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19C13.2091 19 15.2091 18.1046 16.6569 16.6569Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>
									</button>
								</div>
							</div>
			
							<div id="sort" class="d-flex align-items-center select-auto-width">
								<small class="me-2">Sort by</small>
								<select class="form-select form-select-sm" name="sort" aria-label="Sort by">
									<option value="created_at" {% if request.GET.sort == 'created_at' %}selected{% endif %}>Created at</option>
									<option value="name" {% if request.GET.sort == 'name' %}selected{% endif %}>Name</option>
									<option value="email" {% if request.GET.sort == 'email' %}selected{% endif %}>Email</option>
									<option value="role" {% if request.GET.sort == 'role' %}selected{% endif %}>Role</option>
								</select>
								<button type="submit" id="sort-button" class="btn btn-sm ms-2" style="color:#295893">Apply</button>
							</div>
						</div>
					</form>
				</div>
				
                <div class="list-group">
					{% for partner in partner_info %}
                    <div class="list-group-item flex-column align-items-start px-5">
                        <div class="d-flex justify-content-between align-items-center py-3">
                            <div class="">
									<!--<h5 class="mb-1">{{ partnership.importer.username }}</h5>-->
								<div class="fw-bold">{{ partner.company_name }}</div>
								<div class="text-primary-custom fw-medium">{{ partner.company_role }}</div>
								<div>{{ partner.company_email }}</div>
                                <small class="text-muted">Partnership since: {{ partner.created_at }}</small>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span>Actions</span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li><a id="delete-partner" class="dropdown-item" href="#" data-partner-id="{{ partner.id }}">Delete</a></li>
									
                                    <!-- Add more actions here -->
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% empty %}
					<div class="list-group-item flex-column align-items-start px-5">
                        <div class="d-flex justify-content-between align-items-center py-3">
                            <p>No Partners Added</p>
                        </div>
                    </div>
                    
                    {% endfor %}
                </div>
            </div>
        </div>

		<!-- Right Sidebar for Invitations -->
		<div class="col-12 col-lg-4 invitation-list">
            <div class="bg-white rounded-2 wrapper">
				<h4 class="text-primary-custom fw-bold px-5 py-3 border-bottom mb-0">Pending Invitation</h4>
				<div class="">
					<ul class="nav nav-tabs modern-tabs col-12" id="invitationTab" role="tablist">
						<li class="nav-item col-6" role="presentation">
							<button class="nav-link active tab-link" id="received-tab" data-bs-toggle="tab" data-bs-target="#received" type="button" role="tab" aria-controls="received" aria-selected="true">
								<div class="button-text">Received</div>
							</button>
						</li>
						<li class="nav-item col-6" role="presentation">
							<button class="nav-link tab-link" id="sent-tab" data-bs-toggle="tab" data-bs-target="#sent" type="button" role="tab" aria-controls="sent" aria-selected="false">
								<div class="button-text">Sent</div>
							</button>
						</li>
					</ul>
				</div>
				<div class="tab-content" id="invitationTabContent">
					<div class="tab-pane fade show active" id="received" role="tabpanel" aria-labelledby="received-tab">
						<div class="list-group" id="receivedInvitations">
							{% if not has_received_pending_invitations %}
								<div class="list-group-item list-group-item-action px-5 py-3">
									<div class="d-flex justify-content-between align-items-center flex-wrap">
										<div class="mb-2 mb-sm-0">
											<p class="mb-0">No Pending Invitations</p>
										</div>
									</div>
								</div>
							{% else %}
								{% for invitation in received_invitations %}
									{% if not invitation.accepted %}
										<div class="list-group-item list-group-item-action px-5 py-3">
											<div class="d-flex justify-content-between align-items-center flex-wrap">
												<div class="mb-2 mb-sm-0">
													<h6 class="mb-0">{{ invitation.sender.email }}</h6>
													<small class="text-muted">{{ invitation.created_at|date:"Y-M-d" }}</small>
												</div>
												{% if not invitation.accepted %}
												<a href="{% url 'invitations:accept_invitation' token=invitation.token %}" class="btn btn-success btn-sm">Accept Invitation</a>
												{% endif %}
											</div>
										</div>
									{% endif %}
								{% empty %}
									<div class="list-group-item list-group-item-action px-5 py-3">
										<div class="d-flex justify-content-between align-items-center flex-wrap">
											<div class="mb-2 mb-sm-0">
												<p class="mb-0">No invitations received</p>
											</div>
										</div>
									</div>
								{% endfor %}
							{% endif %}
							{% if has_more_received_pending_invitations %}
								<button class="btn see-more-invitations fw-bold py-3 text-black" data-type="received" id="seeMoreReceived">See More</button>
							{% endif %}
						</div>
					</div>
					<div class="tab-pane fade" id="sent" role="tabpanel" aria-labelledby="sent-tab">
						<div class="list-group" id="sentInvitations">
							{% for invitation in sent_invitations %}
								{% if not invitation.accepted %}
									<div class="list-group-item list-group-item-action px-5 py-3" id="invitation-{{ invitation.id }}">
										<div class="d-flex justify-content-between align-items-center flex-wrap">
											<div class="mb-2 mb-sm-0">
												<h6 class="mb-0">{{ invitation.email }}</h6>
												<small class="text-muted">{{ invitation.created_at|date:"Y-M-d" }}</small>
											</div>
											{% if not invitation.accepted %}
											<button id="delete-invitation" class="btn btn-danger btn-sm" data-invitation-id="{{ invitation.id }}">Delete</button>
											{% endif %}
										</div>
									</div>
								{% endif %}
							{% empty %}
								<div class="list-group-item list-group-item-action px-5 py-3">
									<div class="d-flex justify-content-between align-items-center flex-wrap">
										<div class="mb-2 mb-sm-0">
											<p class="mb-0">No invitations sent</p>
										</div>
									</div>
								</div>
							{% endfor %}
							{% if has_more_sent_invitations %}
							<button class="btn see-more-invitations fw-bold" data-type="sent" id="seeMoreSent">See More</button>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% include "modal/send_invitation_modal.html" %}

{% block javascript %}

<script>
	document.addEventListener("DOMContentLoaded", function() {
		document.getElementById('sort-button').style.display = 'none';
		var sortSelect = document.querySelector('select[name="sort"]');
		sortSelect.addEventListener('change', function() {
			this.form.submit();
		});
	});
</script>


<script>
	document.addEventListener('DOMContentLoaded', function() {
		const seeMoreButtons = document.querySelectorAll('.see-more-invitations');
	
		seeMoreButtons.forEach(button => {
			button.addEventListener('click', function() {
				const type = this.dataset.type;  // 'received' or 'sent'
				const listSelector = `#${type}Invitations`;
				const list = document.querySelector(listSelector);
				const start = list.children.length - 1;
				const url = `/partners/partners/?type=${type}&start=${start}`;
	
				fetch(url, {
					method: 'GET',
					headers: { 'X-Requested-With': 'XMLHttpRequest' },
				})
				.then(response => response.json())
				.then(data => {
					data.invitations.forEach(invitation => {
						const item = document.createElement('div');
						item.classList.add('list-group-item', 'list-group-item-action', 'px-5', 'py-3');
						item.innerHTML = `To/From: ${invitation.email}<br>Status: ${invitation.accepted ? 'Accepted' : 'Pending'}<br>Received: ${invitation.created_at}`;
						list.appendChild(item);
					});
	
					if (!data.has_more) {
						this.remove(); // Remove "See More" button if no more invitations
					}
				})
				.catch(error => console.error('Error:', error));
			});
		});
	});
</script>
<script src="{% static 'partners/js/partner_list.js' %}"></script>

{% endblock %}
{% endblock %}
