<div class="modal" id="passwordUpdateModal" style="display: none;">
    <div class="modal-content">
        <div class="modal-header">
            <div class="modal-title">Change Password</div>
        </div>
        <form id="password-update-form" method="post" action="{% url 'users:password_reset_request' %}">
            {% csrf_token %}
            <div class="modal-body">
                <div class="form-group">
                    <label for="old_password" class="form-label">Current Password</label>
                    <input type="password" id="old_password" name="old_password" placeholder="Enter Current Password">
                </div>

                <div class="form-group">
                    <label for="new_password1" class="form-label">New Password</label>
                    <input type="password" id="new_password1" name="new_password1" placeholder="Enter New Password">
                </div>

                <div class="form-group">
                    <label for="new_password2" class="form-label">Confirm New Password</label>
                    <input type="password" id="new_password2" name="new_password2" placeholder="Confirm New Password">
                </div>
                
                <div class="forgot-password-container" style="margin-top: 10px;">
                    <a href="{% url 'users:password_reset_request' %}" class="forgot-password-link forgot-password" style="color: #39739d; font-size: 14px;">Forgot password?</a>
                </div>

            </div>            
            <div class="modal-footer">
                <button type="button" class="cancel-btn">Close</button>
                <button type="submit" class="add-btn">Save</button>
            </div>
        </form>
    </div>
</div>