{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}


{% block title %}Forgot Password{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="container mt-5 custom-signup-container">
    <div class="signuplogin-form-wrapper">
        <h2>Forgot Password</h2>
        <p>Please enter your email address or username to update your password.</p>
            <form method="post" action="{% url 'users:password_reset_request' %}">
            {% csrf_token %}
            <div class="form-group">
                {{ form.username_or_email|as_crispy_field }}
            </div>
            {% if messages %}
                    {% for message in messages %}
                        <div class="alert-message">{{ message }}</div>
                    {% endfor %}
            {% endif %}
            {% if form.errors %}
                <div class="invalid-feedback" role="alert">
                    {{ form.errors }}
                </div>
            {% endif %}
            <button type="submit" class="btn btn-primary">Send Reset Email</button>
        </form>
        <a href="{% url 'account_login' %}"><button type="submit" class="btn btn-primary">Login</button></a>
    </div>
</div>
{% endblock %}



{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    // Delay the start of fade-out by 3 seconds
    setTimeout(function() {
        // Fade out the alert message over 1.5 seconds
        $(".alert-message").fadeOut("slow", function() {
            // Remove the message from the DOM after fade-out
            $(this).remove();
        });
    }, 4000); // 4000 milliseconds = 4 seconds
});
</script>
{% endblock extra_js %}