
label {
    font-weight: 500;
}

a {
    text-decoration: none !important;
    color: rgb(68, 68, 68) !important;
}

.text-primary-custom{
    color: #2f82c0 !important;
}

input, textarea{
    box-shadow: none !important;
    outline: none !important;
}
