.modal-footer .cancel-btn {
    background-color: #ddd;
}
.modal-footer .add-btn {
    background-color: #2c5777;
    color: white;
}

.add-btn {
    background-color: #2c5777;
    color: white;
    border: 0;
    border-radius: 3px;
    padding: 4px 8px;
    cursor: pointer;
}