/* Fixed Sidebar CSS */
#sidebar {
    min-width: 240px !important; /* Fixed minimum width for the sidebar */
    width: 240px !important;
    max-width: 240px !important;
    height: 100vh;
    overflow-y: auto; /* Allows scrolling within the sidebar */
    position: fixed; /* Makes the sidebar fixed relative to the viewport */
    z-index: 1000; /* Ensures the sidebar is above other content */
    background-color: #ffffff; /* Adjust based on your color scheme */
}


.sidebar-collapsed {
    width: 0 !important;
}

/* Content area CSS */

ul, li.nav-bar-item {
    width: 100% !important;
}

:root {
    --container-width: 90%;
}


.custom-fw-bold {
    font-weight: 600 !important;

}

.nav-item.nav-bar-item.custom-svg-collapse:hover, .nav-item.nav-bar-item.custom-svg-collapse.active {
    background-color: #daefff; /* Your chosen hover and active color */
    border-top-right-radius: 99px; /* Rounded top right corner */
    border-bottom-right-radius: 99px; /* Rounded bottom right corner */
}

.nav-item.nav-bar-item.active {
    background-color: #eef5fa; /* Change this to your desired background color */
    /* Add other styles for active navigation item */
    a {
        color: #295893 !important;
        font-weight: 700 !important;
    }
    path {
        stroke: #295893 !important;
        stroke-width: 0.15rem;
    }
}

li span {
    font-size: 0.875rem;
}

.nav-bar-item{
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}