/* Fixed Sidebar CSS */
#sidebar {
    max-width: 250px; /* Fixed width for the sidebar */
    height: 100vh;
    overflow-y: auto; /* Scrollable content */
}

.sidebar-collapsed {
    width: 0 !important;
}

/* Content area CSS */

ul, li.nav-bar-item {
    width: 100% !important;
}

:root {
    --container-width: 90%;
}


.custom-fw-bold {
    font-weight: 600 !important;

}

.nav-item.nav-bar-item.custom-svg-collapse:hover {
    background-color: #eef5fa; /* Change this to your desired background color */
}

.nav-item.nav-bar-item.active {
    background-color: #eef5fa; /* Change this to your desired background color */
    /* Add other styles for active navigation item */
    a {
        color: #295893 !important;
        font-weight: 700;
    }
    path {
        stroke: #295893 !important;
        stroke-width: 0.15rem;
    }
}