.custom-modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1051; /* Slightly above message popup */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Dim background */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 10px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 500px; /* Maximum width */
}

.modal-header, .modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-modal-btn {
    cursor: pointer;
    border: none;
    background: none;
}

.modal-header h5 {
    margin: 0;
}

.modal-body p {
    margin: 15px 0;
}


.modal-dialog-custom {
    margin-top: 10vh; /* Default for most sizes */
}

.modal-dialog-middle {
    margin-top: 25vh !important;
}

/* For smaller screens, you might want to have less of a top margin */
@media (max-width: 768px) {
    .modal-dialog-custom {
        margin-top: 5vh;
    }
}

.drag-and-drop-area {
    border: 2px dashed #cccccc;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.drag-and-drop-area label {
    cursor: pointer;
}

.text-primary-custom:hover {
    background-color: #2f82c033;
}


.drag-and-drop-area:hover {
    background-color: #f9f9f9;
}

.upload-icon {
    width: 50px; /* Adjust based on your needs */
    margin-bottom: 10px;
}

.text-15 {
    font-size: 15px;
}

#file-name {
    display: block; /* Makes the file name appear on a new line */
    margin-top: 10px;
    color: #555;
    font-style: italic;
}

textarea { 
    resize: none;
}


.file-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 5px;
}

.file-input:last-child {
    margin-bottom: 0;
}

.input-group {
    display: flex;
    align-items: center;
    gap: 5px;
}

.file-name-input, .document-type-select {
    flex-grow: 1;
    padding: 3px 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 14px;
}

.remove-btn {
    padding: 3px 6px;
    background-color: #ff161a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.remove-btn:hover {
    background-color: rgb(255, 90, 90);
    color: rgb(255, 255, 255);
}

.comment-textarea {
    resize: vertical; /* Allows vertical resizing only */
    padding: 3px 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 14px;
    resize: none;
}
