{% load static %}

{% block extra_css %}
<style>

</style>
{% endblock extra_css %}

<div class="modal fade" id="uploadDocumentPartnerModal">
    <div class="modal-dialog modal-dialog-custom">
        <div class="modal-content" style="width:90%;">
            <div class="modal-title" id="uploadDocumentPartnerModalLabel">Upload File for {{ company_profile.name }} </div>
            <form id="upload-document-form" action="{% url 'companies:upload_document_partner' folder_uuid=folder_id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="upload-zone" id="uploadZoneDocument">
                        Drag & Drop files here or click to browse
                    </div>
                    <div class="messages">Files over 10MB cannot be uploaded</div>
                    <div class="uploaded-files-container">
                        <ul class="uploaded-files" id="uploadedFilesDocument"></ul>
                    </div>
                </div>
        
                <div class="modal-footer border-0 p-1">
                    <button type="button" id="cancelUploadBtn" class="cancel-btn" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" id="uploadBtn" class="add-btn" form="upload-document-form">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% block javascript %}

{% endblock %}
