<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Hide skeleton loaders and ensure content areas are visible
        hideSkeletonAndShowContent('partnerSkeleton', 'partnerList');
        hideSkeletonAndShowContent('exportDateSkeleton', 'displayExportDate');
        hideSkeletonAndShowContent('documentSkeleton', 'displayDocuments');
    });
    
    document.addEventListener('DOMContentLoaded', function() {
        const message = sessionStorage.getItem('message');
        const messageType = sessionStorage.getItem('messageType');
    
        if (message && messageType) {
            showMessage(message, messageType); // Use your existing showMessage function
            sessionStorage.removeItem('message'); // Clear the message
            sessionStorage.removeItem('messageType'); // Clear the message type
        }
    });

    $(document).ready(function() {
        handleSessionMessage();
    });
</script>


<script>

    function getCSRFToken() {
        let csrfToken = null;
        const cookies = document.cookie.split(';');
        for (let cookie of cookies) {
            let [key, value] = cookie.split('=');
            if (key.trim() === 'csrftoken') {
                csrfToken = decodeURIComponent(value);
                break;
            }
        }
        return csrfToken;
    }

    
// Create Export with date for partners selected
    function setExportDateForPartner(stagedPartnerId, partnerId) {
        $('#setExportDateModal').modal('show');
        $('#setExportDateForm').off('submit').on('submit', function(e) {
            e.preventDefault();
            const exportDate = $('#exportDateInput').val();
            if (exportDate) {
                $.ajax({
                    url: '/exports/create_with_date/',
                    type: 'POST',
                    data: {
                        'export_date': exportDate,
                        'staged_partner_id': stagedPartnerId,
                        'partner_id': partnerId,
                        'csrfmiddlewaretoken': $('[name="csrfmiddlewaretoken"]').val()
                    },
                    success: function(response) {
                        if (response.success) {
                            setSessionMessage('Export created with reference number: ' + response.reference_number, 'success');
                        } else {
                            setSessionMessage('Error creating export: ' + response.error, 'error');
                        }
                    },
                    error: function(xhr) {
                        setSessionMessage('An export for this partner on this date already exists: ' + xhr.statusText, 'error');
                    },
                    complete: function() {
                        location.reload();  // Reload to show message after navigation
                    }
                });
            } else {
                setSessionMessage('Please select a date.', 'error');
                location.reload();  // Consider if you need to reload in this case or just display a message
            }
        });
    }

    function deletePartner(stagedPartnerId, partnerId) {
        $.ajax({
            url: `/exports/delete_partner/`,
            type: 'POST',
            data: {
                'staged_partner_id': stagedPartnerId,
                'partner_id': partnerId,
                'csrfmiddlewaretoken': $('[name="csrfmiddlewaretoken"]').val()
            },
            success: function(response) {
                if (response.success) {
                    setSessionMessage('Partner deleted', 'success');
                } else {
                    setSessionMessage(response.error || 'Error deleting partner.', 'error');
                }
                location.reload();  // Reload to show message after navigation
            },
            error: function(xhr) {
                setSessionMessage('Failed to delete partner due to a network error: ' + xhr.statusText, 'error');
                location.reload();  // Reload to show message after navigation
            }
        });
    }

    function deleteSelectedPartners() {
        const checkboxes = document.querySelectorAll('.custom-checkbox:checked');
        const partnerIds = Array.from(checkboxes).map(checkbox => checkbox.value);
        const stagedPartnerIds = Array.from(checkboxes).map(checkbox => checkbox.getAttribute('data-staged-partner-id'));

        if (partnerIds.length > 0) {
            $.ajax({
                url: '/exports/delete_partners/',
                type: 'POST',
                data: {
                    'partner_ids': partnerIds.join(','),
                    'staged_partner_ids': stagedPartnerIds.join(','),
                    'csrfmiddlewaretoken': $('[name="csrfmiddlewaretoken"]').val()
                },
                success: function(response) {
                    if (response.success) {
                        setSessionMessage('Partners deleted', 'success');
                    } else {
                        setSessionMessage('Error deleting partners: ' + response.error, 'error');
                    }
                    location.reload();  // Reload to show message after navigation
                },
                error: function(xhr) {
                    setSessionMessage('Failed to delete partners due to a network error: ' + xhr.statusText, 'error');
                    location.reload();  // Reload to show message after navigation
                }
            });
        } else {
            // If no partners are selected and "Delete" is attempted
            setSessionMessage('No partners selected for deletion.', 'info');
            location.reload();  // Reload to show message after navigation
        }
    }
    
    function selectExportDate(dateElement, partnerExportId) {
        toggleSkeletonVisibility('documentSkeleton', 'displayDocuments', true);

        // Clear previous selections
        const previouslySelected = document.querySelector('.selected-export-date');
        if (previouslySelected) {
            previouslySelected.classList.remove('selected-export-date');
        }
        // Highlight the clicked element
        dateElement.classList.add('selected-export-date');

        // Enable and configure the Upload Document button
        const uploadDocumentBtn = document.getElementById('uploadDocumentBtn');
        uploadDocumentBtn.disabled = false;  // Enable the button
        uploadDocumentBtn.dataset.partnerExportId = partnerExportId;  // Set the partnerExportId data attribute for use in modal

        // Fetch documents for the selected export
        fetch(`/exports/get_export_documents/${partnerExportId}`)
        .then(response => response.json())
        .then(data => {
            const displayDocuments = document.getElementById('displayDocuments');
            displayDocuments.innerHTML = '';  // Clear previous content

            if (data.documents && data.documents.length > 0) {
                data.documents.forEach(doc => {
                    let docItem = document.createElement('div');
                    docItem.className = 'list-group-item d-flex justify-content-between align-items-center';
                    docItem.innerHTML = `
                        <input class="form-check-input custom-checkbox document-checkbox" type="checkbox" value="${doc.document_id}" id="document_${doc.document_id}" onclick="toggleDocumentDeleteButton()">
                        <label for="document_${doc.document_id}" class="flex-grow-1 ml-2 ps-3">${doc.filename} - Uploaded on: ${doc.uploaded_on}</label>
                    `;
                    displayDocuments.appendChild(docItem);
                });
            } else if (data.message) {
                displayDocuments.textContent = data.message;
            } else {
                console.error('Error:', data.error);
            }
            toggleSkeletonVisibility('documentSkeleton', 'displayDocuments');
        })
        .catch(error => console.error('Failed to fetch documents:', error));
        toggleSkeletonVisibility('documentSkeleton', 'displayDocuments');
    }

    function toggleDeleteButton() {
        const checkboxes = document.querySelectorAll('.custom-checkbox');
        const deleteButton = document.getElementById('deleteSelectedPartners');
        deleteButton.disabled = !Array.from(checkboxes).some(checkbox => checkbox.checked);
    }

    document.getElementById('deleteSelectedPartners').onclick = function() {
        const checkedBoxes = document.querySelectorAll('.custom-checkbox:checked');
        const partnerIds = Array.from(checkedBoxes).map(box => box.value);
        if (partnerIds.length > 0) {
            deleteSelectedPartners(partnerIds);
        }
    };

    $(document).ready(function() {
        
        var selectedPartner = {
            stagedPartnerId: null,
            partnerId: null
        };


        // Setup AJAX to include CSRF token
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", getCSRFToken());
                }
            }
        });
    
        // Handling modal show event to fetch and display products
        $('#selectProductModal').on('show.bs.modal', function (event) {
            const button = $(event.relatedTarget); // Button that triggered the modal
            const exportId = button.data('export-id'); // Extracting export ID when modal is shown
            const modal = $(this);

            $('#ExportId').val(exportId);

            $.ajax({
                url: '/exports/list_products/',
                type: 'GET',
                success: function(response) {
                    const products = response.products;
                    const productList = modal.find('#productList');
                    productList.empty(); // Clear previous entries
                    if (products.length > 0) {
                        products.forEach(function(product) {
                            productList.append(`<li class="list-group-item">
                                <input type="checkbox" value="${product.id}" name="product"> ${product.code}, ${product.name}
                            </li>`);
                        });
                    } else {
                        productList.html('<li class="list-group-item">No products available</li>');
                    }
                },
                error: function() {
                    productList.html('<li class="list-group-item">Failed to load products</li>');
                }
            });
        });
    
        // Form submission to add selected products to export
        $('#productSelectionForm').on('submit', function(e) {
            e.preventDefault();
            const modal = $('#selectProductModal');
            const exportId = $('#ExportId').val(); // Retrieve the exportId from the hidden input
            const selectedProductIds = $('#productList input:checked').map(function() {
                return $(this).val();
            }).get();
            

            selectedProductIds.forEach(productId => {
                $.ajax({
                    url: `/exports/${exportId}/add_product/`,
                    type: 'POST',
                    data: {
                        'product_id': productId,
                        'csrfmiddlewaretoken': getCSRFToken() // Ensuring CSRF token is sent
                    },
                    success: function(data) {
                        if (data.success) {
                            const productListItem = `<li onclick="showPartnersModal(${data.export_product_id}, '${data.product_name}')">
                                ${data.product_name} - ${data.product_code}
                            </li>`;
                            let productContainer = $(`#exportProductsContainer${exportId}`);
                            if (productContainer.find('ul').length === 0) {
                                productContainer.append('<ul></ul>');
                            }
                            productContainer.find('ul').append(productListItem);
                            modal.modal('hide'); // Optionally hide modal after operation
                        } else {
                            alert('Error adding product');
                        }
                    },
                    error: function(xhr) {
                        alert('Request failed');
                    }
                });
            });
        });

//Upload Document modal

        $('#uploadDocumentExportModal').on('show.bs.modal', function(event) {
            const button = $(event.relatedTarget); // Button that triggered the modal
            const partnerExportId = button.data('partner-export-id'); // Extract the PartnerExport ID from the button
            const form = document.getElementById('upload-document-form');
            form.action = `/exports/upload_document/${partnerExportId}/`; // Adjust to match the Django URL config
        });

        // Handle document upload form submission
        $('#upload-document-form').on('submit', function(event) {
            event.preventDefault();
            var formData = new FormData(this);

            $.ajax({
                url: this.action,  // Ensure this is correct based on form action attribute
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function(response) {
                    if (response.success) {
                        setSessionMessage('Document uploaded.', 'success');
                    } else {
                        setSessionMessage(response.error || 'Error uploading document.', 'error');
                    }
                },
                error: function(xhr) {
                    setSessionMessage('Failed to upload document due to a network error.', 'error');
                },
                complete: function() {
                    location.reload();  // Reload to show message after navigation
                }
            });
        });


//Select Partner modal

        $('#selectPartnerModal').on('show.bs.modal', function(event) {
            const button = $(event.relatedTarget);
            const exportId = button.data('export-id');
            const modal = $(this);

            $.ajax({
                url: '/exports/list_partners/',
                type: 'GET',
                success: function(response) {
                    const partners = response.partners;
                    const partnerList = modal.find('#partnerList');
                    partnerList.empty();
                    if (partners.length > 0) {
                        partners.forEach(function(partner) {
                            partnerList.append(`<li class="list-group-item">
                                <input type="checkbox" value="${partner.id}" name="partner"> ${partner.name}
                            </li>`);
                        });
                    } else {
                        partnerList.html('<li class="list-group-item">No partners available</li>');
                    }
                },
                error: function() {
                    partnerList.html('<li class="list-group-item">Failed to load partners</li>');
                }
            });

            // After partners are added, enable the document upload button for this export
            $('#partnerSelectionForm').on('submit', function(e) {
                e.preventDefault();
                const selectedPartnerIds = $('#partnerList input:checked').map(function() {
                    return $(this).val();
                }).get();

                if (selectedPartnerIds.length > 0) {
                    $.ajax({
                        url: '/exports/add_partner_to_staging/',
                        type: 'POST',
                        data: {
                            'partner_ids': selectedPartnerIds,
                            'csrfmiddlewaretoken': getCSRFToken()
                        },
                        traditional: true,
                        success: function(data) {
                            if (data.success) {
                                setSessionMessage('Partners added', 'success');
                            } else {
                                setSessionMessage('Failed to add partners', 'error');
                            }
                            location.reload(); // Reload the page to show new data and display the message
                        },
                        error: function(xhr) {
                            setSessionMessage('Request failed: ' + xhr.statusText, 'error');
                            location.reload(); // Reload to show message after navigation
                        }
                    });
                } else {
                    setSessionMessage('No partners selected', 'info');
                    location.reload(); // Consider if you need to reload in this case or just display a message
                }
                $('input[name="partner"]:checked').prop('checked', false);
            });

        });

    });
</script>
    
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Bind click event handlers to the buttons only
        document.querySelectorAll('.list-group .btn-primary').forEach(button => {
            button.addEventListener('click', function() {
                const parentDiv = this.closest('.partner-list'); // Get the parent div of the button
                selectPartner(parentDiv, parentDiv.dataset.partnerId, parentDiv.dataset.stagedPartnerId || 'null');
            });
        });
    });

    function selectPartner(divElement, partnerId, stagedPartnerId) {
        toggleSkeletonVisibility('exportDateSkeleton', 'displayExportDate', true);

        // Clear previous selections
        const previouslySelected = document.querySelector('.selected-partner');
        if (previouslySelected) {
            previouslySelected.classList.remove('selected-partner');
        }

        // Highlight the clicked element
        divElement.classList.add('selected-partner');

        // Enable and update the 'Add Export Date' button
        const exportDateBtn = document.getElementById('addExportDateBtn');
        exportDateBtn.disabled = false;
        exportDateBtn.onclick = function() {
            setExportDateForPartner(stagedPartnerId, partnerId);
        };

        // Fetch export dates for the selected partner
        fetchExportDates(partnerId);
        toggleSkeletonVisibility('exportDateSkeleton', 'displayExportDate');

        const displayDocuments = document.getElementById('displayDocuments');
        displayDocuments.innerHTML = 'No documents selected'; // Update or clear the document list

    }

    function fetchExportDates(partnerId) {
        
        fetch(`/exports/get_export_dates/${partnerId}`)
        .then(response => response.json())
        .then(data => {
            const displayExportDate = document.getElementById('displayExportDate');
            displayExportDate.innerHTML = '';

            if (data.exports && data.exports.length > 0) {
                data.exports.forEach(exportItem => {
                    // Create the div for each export item
                    const dateItem = document.createElement('div');
                    dateItem.className = 'list-group-item flex-column';
                    dateItem.id = `export_date_${exportItem.id}`;
                    dateItem.dataset.partnerExportId = exportItem.id;
                    dateItem.innerHTML = generateExportDateItemHTML(exportItem);

                    // Append the newly created div to the display container
                    displayExportDate.appendChild(dateItem);

                    // Find the button within this div and attach a click event handler
                    const button = dateItem.querySelector('.show-export-document');
                    if (button) {
                        button.addEventListener('click', function(event) {
                            event.stopPropagation(); // Prevent the event from bubbling up
                            selectExportDate(dateItem, exportItem.id); // Pass the div and id to the selectExportDate function
                        });
                    }
                });
            } else if (data.message) {
                displayExportDate.textContent = data.message;
            } else {
                console.error('Error:', data.error);
            }

        })
        .catch(error => {
            console.error('Failed to fetch export date:', error);
        });
    }

    function generateExportDateItemHTML(exportItem) {
        return `
            <div class="d-flex justify-content-between py-1" id="export_date_${exportItem.id}">
                <div class="d-flex align-items-center">
                    <input class="form-check-input custom-checkbox export-checkbox" type="checkbox" name="exports" value="${exportItem.export_id}" id="export_${exportItem.export_id}" onclick="toggleExportDeleteButton()">
                    <div class="ps-3">
                        <div class="fw-sm-bold">${exportItem.date}</div>
                    </div>
                </div>
                <button type="button" class="show-export-document btn btn-primary btn-sm align-self-center">
                    <svg width="16" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21 21L16.6569 16.6569M16.6569 16.6569C18.1046 15.2091 19 13.2091 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19C13.2091 19 15.2091 18.1046 16.6569 16.6569Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
            </div>
        `;
    }

</script>
<script>
    function toggleExportDeleteButton() {
        const checkboxes = document.querySelectorAll('.export-checkbox');
        const deleteButton = document.getElementById('deleteSelectedExports');
        deleteButton.disabled = !Array.from(checkboxes).some(checkbox => checkbox.checked);
    }

    document.getElementById('deleteSelectedExports').addEventListener('click', function() {
        const selectedCheckboxes = document.querySelectorAll('.export-checkbox:checked');
        const exportIds = Array.from(selectedCheckboxes).map(cb => cb.value);
        deleteSelectedExports(exportIds);
        
    });

    function deleteSelectedExports(exportIds) {
        if (!exportIds.length) {
            setSessionMessage('No exports selected for deletion.', 'info');
            location.reload();  // Reload to show message without attempting deletion
            return;
        }
        
        $.ajax({
            url: '/exports/delete_exports/',
            type: 'POST',
            data: {
                'export_ids': exportIds.join(','),
                'csrfmiddlewaretoken': getCSRFToken()
            },
            success: function(response) {
                if (response.success) {
                    setSessionMessage('Selected exports deleted', 'success');
                } else {
                    setSessionMessage('Error deleting exports: ' + (response.error || 'Unknown error'), 'error');
                }
                location.reload(); // Reload to show message after navigation
            },
            error: function(xhr) {
                setSessionMessage('Failed to delete exports: ' + xhr.statusText, 'error');
                location.reload(); // Reload to show message after navigation
            }
        });
    }
</script>

<script>

    function toggleDocumentDeleteButton() {
        const checkboxes = document.querySelectorAll('.document-checkbox:checked');
        const deleteButton = document.getElementById('deleteSelectedDocumentsBtn');
        deleteButton.disabled = checkboxes.length === 0;
    }

    document.getElementById('deleteSelectedDocumentsBtn').addEventListener('click', function() {
        const selectedCheckboxes = document.querySelectorAll('.custom-checkbox:checked');
        const documentIds = Array.from(selectedCheckboxes).map(cb => cb.value);
        deleteSelectedDocuments(documentIds);
    });
    

    function deleteSelectedDocuments(documentIds) {
        $.ajax({
            url: '/exports/delete_documents/',  // Endpoint to delete documents
            type: 'POST',
            data: {
                'document_ids': documentIds.join(','),
                'csrfmiddlewaretoken': getCSRFToken()  // Ensure CSRF token is included
            },
            success: function(response) {
                if (response.success) {
                    setSessionMessage('Selected documents deleted.', 'success');
                } else {
                    setSessionMessage('Error deleting documents: ' + response.error, 'error');
                }
            },
            error: function(xhr) {
                setSessionMessage('Failed to delete documents due to a network error.', 'error');
            },
            complete: function() {
                location.reload();  // Reload the page to refresh and display messages
            }
        });
    }

</script>