<style>
    .btn-edit-save {
        min-width: 100%;
        text-align: center;
    }
    .comment_version_table {
        width: 100%;
        table-layout: fixed;
    }
    .comment_version_table th, .comment_version_table td {
        overflow: hidden; /* Ensures content doesn't overflow */
        text-overflow: ellipsis; /* Adds an ellipsis if the text overflows */
        white-space: nowrap; /* Keeps the content on a single line */
        text-align: center;
    }
    .comment_version_table th:nth-child(1) { width: 10%; } /* Version */
    .comment_version_table th:nth-child(2) { width: 20%; } /* Filename */
    .comment_version_table th:nth-child(3) { width: 20%; } /* Last Modified */
    .comment_version_table th:nth-child(4) { width: 40%; } /* Uploader */
    .comment_version_table th:nth-child(5) { width: 10%; } /* Actions */


    .owner-view th, .owner-view td { color: #007bff; } /* Styling for owner view */
    .access-user-view th, .access-user-view td { color: #6c757d; } /* Styling for access users */

    
</style>

<div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content modal-content-lg">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="commentModalLabel">Comments</h5>
            </div>
            <div class="modal-body">
                <table id="commentsTable" class="table comment_version_table">
                    <thead>
                        <tr class="small">
                            <th>Version</th>
                            <th>Modified</th>
                            <th>Editor</th>
                            <th>Comment</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="small">
                        <!-- Rows will be added dynamically here -->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer border-0 p-1">
                <button type="button" class="btn text-primary-custom text-15" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>