<div id="createFolderModal" class="modal fade" tabindex="-1" aria-labelledby="createFolderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-title" id="createFolderModalLabel">New Folder</div>
            <div class="modal-body">
                <form id="create-folder-form-modal" method="post" action="{% url 'products:folder_create' product_id=product.id %}">
                    {% csrf_token %}
                    <label for="folderNameModal" class="form-label">Folder Name:</label>
                    <input type="text" class="form-control" id="folderNameModal" name="name" placeholder="Enter folder name" required>
                    {% if current_folder %}
                        <input type="hidden" id="parentFolderIdModal" name="parent_id" value="{{ current_folder.id }}">
                    {% else %}
                        <input type="hidden" id="parentFolderIdModal" name="parent_id" value="{{ root_folder.id }}">
                    {% endif %}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="cancel-btn" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="add-btn" form="create-folder-form-modal">Create</button>
            </div>
        </div>
    </div>
</div>