<style>
    .version-table {
        width: 100%;
        table-layout: fixed;
    }
    .version-table th, .version-table td {
        overflow: hidden; /* Ensures content doesn't overflow */
        text-overflow: ellipsis; /* Adds an ellipsis if the text overflows */
        white-space: nowrap; /* Keeps the content on a single line */
        
    }

    .version-table th:nth-child(1) { width: 8% !important; } /* Version */
    .version-table th:nth-child(2) { width: 38% !important; text-align: left; } /* Filename */
    .version-table th:nth-child(3) { width: 20% !important; } /* Last Modified */
    .version-table th:nth-child(4) { width: 20% !important; } /* Uploader */
    .version-table th:nth-child(5) { width: 12% !important; } /* Actions */


    .owner-view th, .owner-view td { color: #007bff; } /* Styling for owner view */
    .access-user-view th, .access-user-view td { color: #6c757d; } /* Styling for access users */

</style>

<div class="modal fade" id="documentVersionsModal" tabindex="-1" aria-labelledby="documentVersionsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content modal-content-lg">
            <div class="modal-title" id="documentVersionsModalLabel">Document Versions</div>

            <div class="modal-body modal-body-p" style="max-height:39vh;">
                <table class="table version-table">
                    <thead>
                        <tr class="small">
                            <th>Version</th>
                            <th class="">Filename</th>
                            <th>Last Modified</th>
                            <th>Uploader</th>
                            <th class="" style="text-align:center;">Action</th>
                        </tr>
                    </thead>
                    <tbody id="versionList" class="small"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="cancel-btn" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>