<div class="modal fade" id="editFolderModal" tabindex="-1" aria-labelledby="editFolderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-custom">
        <div class="modal-content" style="width:80%;">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="editFolderModalLabel">Edit Folder</h5>
            </div>
            <form method="post" action="" id="editFolderForm">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="">
                        <input type="text" class="form-control" id="id_name" name="name" placeholder="Enter folder name" required>
                        <input type="hidden" id="id_parent" name="parent">
                    </div>
                </div>
                <div class="modal-footer border-0 p-1">
                    <button type="button" class="btn text-primary-custom text-15" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn fw-less-bold text-primary-custom text-15">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>