<div id="editFolderModal" class="modal fade" tabindex="-1" aria-labelledby="editFolderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-title" id="editFolderModalLabel">Edit Folder</div>
            <div class="modal-body">
                <form method="post" action="" id="editFolderForm">
                    {% csrf_token %}
                    <label for="id_name" class="form-label">Folder Name</label>
                    <input type="text" class="form-control" id="id_name" name="name" placeholder="Enter folder name" required>
                    <input type="hidden" id="id_parent" name="parent">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="cancel-btn" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="add-btn" form="editFolderForm">Save</button>
            </div>
        </div>
    </div>
</div>