{% load static %}

{% block extra_css %}
<style>
    
</style>
{% endblock %}


<div class="modal fade" id="editFolderModal" tabindex="-1" aria-labelledby="editFolderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-custom">
        <div class="modal-content" style="width:80%;">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="editFolderModalLabel">Edit Folder</h5>
            </div>
            <div class="modal-body pt-0">
            </div>
        </div>
    </div>
</div>