<div id="editProductModal" class="modal">
    <div class="modal-content">
        <div class="modal-title">Edit Product</div>
        <div class="tab-content active" id="editProductFormTab">
            <form id="editProductForm" method="post">
                {% csrf_token %}
                <div class="form-messages" id="formMessages"></div>

                <div class="form-group">
                    <label for="edit_product_name">Product Name</label>
                    <div class="status-indicators">
                        <input type="text" id="edit_product_name" name="product_name" maxlength="100" required>
                        <div class="status-sub">
                            <div class="form-error-container"></div>
                            <div id="edit_product_name_counter" class="char-counter">0/100</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="edit_product_code">Product Code</label>
                    <div class="status-indicators">
                        <input type="text" id="edit_product_code" name="product_code" maxlength="100" required>
                        <div class="status-sub">
                            <div class="form-error-container"></div>
                            <div id="edit_product_code_counter" class="char-counter">0/50</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="edit_product_description">Product Description</label>
                    <div class="status-indicators">
                        <input type="text" id="edit_product_description" name="product_description" maxlength="100" required>
                        <div class="status-sub">
                            <div class="form-error-container"></div>
                            <div id="edit_product_description_counter" class="char-counter">0/50</div>
                        </div>
                    </div>
                </div>


                <label for="edit_product_type">Product Type</label>
                <select id="edit_product_type" name="product_type" required>
                    <!-- Options will be populated by JavaScript -->
                </select>

            </form>
        </div>
        <div class="modal-footer">
            <button class="cancel-btn" id="CloseEditProductModal">Cancel</button>
            <button class="add-btn" id="SubmitEditProductForm">Save</button>
        </div>
    </div>
</div>