<div id="editDocumentModal" class="modal fade" tabindex="-1" aria-labelledby="editDocumentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-title" id="editDocumentModalLabel">Edit Document</div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data" id="editDocumentForm">
                    {% csrf_token %}
                    <!-- Document Type Dropdown -->
                    <label for="id_document_type" class="">Document Type</label>
                    <select name="document_type" id="id_document_type" class="">
                        <!-- Options populated dynamically -->
                    </select>
                    
                    <!-- Original Filename Input -->
                    <label for="id_original_filename" class="">Document Name</label>
                    <input type="text" name="original_filename" id="id_original_filename" class="" value="{{ form.original_filename.value }}">
                
                    <!-- Comments Textarea -->
                    <label for="id_comments" class="">Comments</label>
                    <input name="comments" id="id_comments" class="">{{ form.comments.value }}</input>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="cancel-btn" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="add-btn" form="editDocumentForm">Update</button>
            </div>
        </div>
    </div>
</div>
