<style>
    .clickable-div {
        cursor: pointer; /* Shows a pointer cursor on hover to indicate clickability */
        transition: background-color 0.3s; /* Smooth transition for visual feedback */
    }

    .clickable-div:hover {
        background-color: #eef5fa; /* Change as needed for hover effect */
    }
</style>
<!-- Move Entity Modal -->
<div class="modal fade" id="moveEntityModal" tabindex="-1" aria-labelledby="moveEntityModalLabel" aria-hidden="true" data-product-id="{{ product.id }}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content modal-content-lg">
            <div class="modal-body">
                <!-- Content will be loaded here dynamically -->
            </div>
            <div class="modal-footer border-0 p-1">
            </div>
        </div>
    </div>
</div>

