<style>
    .clickable-div {
        cursor: pointer; /* Shows a pointer cursor on hover to indicate clickability */
    }

    .clickable-div:hover {
        background-color: #eef5fa; /* Change as needed for hover effect */
    }
</style>
<!-- Move Entity Modal -->
<div class="modal fade" id="moveEntityModal" tabindex="-1" aria-labelledby="moveEntityModalLabel" aria-hidden="true" data-product-id="{{ signed_product_uuid }}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content modal-content-lg">
            <div class="modal-body">
                <!-- Content will be loaded here dynamically -->
            </div>
        </div>
    </div>
</div>
