<div id="confirmationModal" class="custom-modal modal">
    <div class="modal-dialog modal-dialog-middle">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="createFolderModalLabel">Confirm Removal</h5>
            </div>
            <div class="modal-body">
                <div>Are you sure you want to remove access?</div>
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn text-primary-custom text-15 close-modal-btn" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" value="remove_access" id="confirmBtn" class="btn fw-less-bold text-15 text-danger">Remove</button>
            </div>
        </div>
    </div>
</div>