<!-- Update Document Modal -->
<div class="modal fade" id="updateDocumentModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-title" id="updateDocumentModalLabel">Upload New Version</div>
            <div class="modal-body">
                <form id="updateDocumentForm" enctype="multipart/form-data">
                    <input type="hidden" name="product_id" id="product_id">
                    <input type="hidden" name="folder_id" id="folder_id">
                    
                    <label for="file" class="small">Select file to upload</label>
                    <input type="file" id="file" name="file" required class="">

                    <label for="id_comments" class="">Comments</label>
                    <input id="comments" name="comments" class=""></input>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="cancel-btn" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="add-btn" form="updateDocumentForm">Update</button>
            </div>
        </div>
    </div>
</div>