<div class="modal fade" id="uploadDocumentModal" tabindex="-1" aria-labelledby="uploadDocumentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadDocumentModalLabel">Upload Document</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="upload-document-form" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="documentFile">Select Documents</label>
                        <input type="file" class="form-control-file" id="documentFile" name="files[]" multiple required>
                    </div>
                    <div id="dynamicFormsContainer"></div>
                    <input type="hidden" id="folderId" name="folder_id">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" form="upload-document-form">Upload Documents</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
