{% extends "base_users.html" %}

{% load static %}

{% block css %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" type="text/css" href="{% static 'exports/css/style.css' %}">
{% endblock %}


{% block content %}

<main>
    <div class="background-overlay"></div> <!-- Add this line -->
    <div class="content-section">
        <div class="content-header">
            <div class="header-title">
                <h3>Export Details</h3>
                <small class="subheading">Number of Exports: 123</small>
            </div>
            <button class="button-8" role="button">New</button>
        </div>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th><input type="checkbox"></th>
                        <th>Partner Name</th>
                        <th>Business</th>
                        <th>Export Date</th>
                        <th>Document</th>
                        <th>View</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>Partner 1</td>
                        <td>Business 1</td>
                        <td>2024-06-13</td>
                        <td><div class="doc-count green">3</div></td>
                        <td><img src="{% static 'images/table_icon/visibility_24dp_FILL0_wght400_GRAD0_opsz24.png' %}" alt="View" class="icon-view"></td>
                        <td><img src="{% static 'images/table_icon/edit_24dp_FILL0_wght400_GRAD0_opsz24.png' %}" alt="Edit" class="icon-edit"></td>
                        <td><img src="{% static 'images/table_icon/delete_24dp_FILL0_wght400_GRAD0_opsz24.png' %}" alt="Delete" class="icon-delete"></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>Partner 2</td>
                        <td>Business 2</td>
                        <td>2024-06-12</td>
                        <td><div class="doc-count red">0</div></td>
                        <td><img src="{% static 'images/table_icon/visibility_24dp_FILL0_wght400_GRAD0_opsz24.png' %}" alt="View" class="icon-view"></td>
                        <td><img src="{% static 'images/table_icon/edit_24dp_FILL0_wght400_GRAD0_opsz24.png' %}" alt="Edit" class="icon-edit"></td>
                        <td><img src="{% static 'images/table_icon/delete_24dp_FILL0_wght400_GRAD0_opsz24.png' %}" alt="Delete" class="icon-delete"></td>
                    </tr>
                    <!-- Add more rows as needed -->
                </tbody>
            </table>
        </div>
    </div>
</main>
    
{% endblock %}