<style>
    
</style>

<div id="editExportModal" class="modal">
    <div class="modal-content">
        <div class="modal-title">Edit Export Details</div>
        
        <div class="tab-content active" id="editExport">
            <label style="padding-left: 5px;">Partner Name: {{ export.partner.partner_name }} </label>

            <form id="editExportForm">
                <div class="form-messages" id="formMessages"></div>
                
                <label for="referenceNumber">Reference Number:</label>
                <input type="text" id="referenceNumber" name="referenceNumber" required>

                <label for="exportDate">Export Date:</label>
                <input type="date" id="exportDate" name="exportDate" required>
            </form>
        </div>
        <div class="modal-footer">
            <button class="cancel-btn" id="CloseEditExport">Cancel</button>
            <button class="add-btn" id="SubmitEditExport">Save</button>
        </div>
    </div>
</div>
