<div id="uploadDocumentModal" class="modal">
    <div class="modal-content">
        <div class="modal-title">Upload Document</div>
        <div class="tab-content active" id="uploadDocument">
            <div class="upload-zone" id="uploadZoneDocument">
                Drag & Drop files here or click to browse
            </div>
            <div class="messages">Files over 10MB can not be uploaded</div>
            <div class="uploaded-files-container">
                <ul class="uploaded-files" id="uploadedFilesDocument"></ul>
            </div>
        </div>
        <div class="modal-footer">
            <button class="cancel-btn" id="cancelUploadBtn">Cancel</button>
            <button class="add-btn" id="uploadBtn">Upload</button>
        </div>
    </div>
</div>