<!-- _subfolder_structure.html -->
<!-- Subfolder Row: Initially Hidden, Shown on Parent Folder Expand -->
<tr class="folder-row no-select-on-dblclick hidden" tabindex="0" data-depth="{{ depth }}" onclick="toggleFolder(this)">
    <td class="cursor-default"><input class="form-check-input" type="checkbox" name="folders" value="{{ folder_uuid }}"></td>
    <td class="lh-lg ps-3 py-2 small-custom">
        <span class="arrow-icon">
            ▶
        </span>
        <span class="folder-name fw-sm-bold">{{ folder.name }}</span>
    </td>
    <td class="d-none d-md-none d-lg-table-cell text-muted-weight small">Folder</td>
    <td class="d-none d-sm-none d-md-table-cell text-muted-weight small">{{ folder.updated_at|date:"Y-m-d H:i" }}</td>
</tr>

<!-- Nested Subfolders -->
{% for subfolder_data in subfolders %}
    {% include 'access_control/_subfolder_structure.html' with folder=subfolder_data.folder documents=subfolder_data.documents parent_uuid=folder_uuid folder_uuid=subfolder_data.folder_uuid depth=subfolder_data.depth subfolders=subfolder_data.subfolders %}
{% endfor %}

<!-- Documents under Subfolder -->
{% for document in folder.documents.all %}
    <tr class="folder-content no-select-on-dblclick hidden" tabindex="0" data-depth="{{ depth|add:'1' }}">
        <td class="cursor-default"><input class="form-check-input" type="checkbox" name="documents" value="{{ document.uuid }}"></td>
        <td class="document-name lh-lg ps-3 py-2 small-custom">
            <svg width="20" height="20" viewBox="0 -0.5 19 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <!-- SVG content here -->
            </svg>
            <span class="fw-sm-bold">{{ document.original_filename }}</span>
        </td>
        <td class="d-none d-md-none d-lg-table-cell text-muted-weight small">Document</td>
        <td class="d-none d-sm-none d-md-table-cell text-muted-weight small">{{ document.updated_at|date:"Y-m-d H:i" }}</td>
    </tr>
{% endfor %}



{% block javascript %}

<script>
    
</script>


{% endblock %}
