<div class="mt-2">
    <div class="card">
        <div class="card-header" id="heading{{ folder.name|slugify }}">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ folder.name|slugify }}" aria-expanded="false" aria-controls="collapse{{ folder.name|slugify }}">
                    {{ folder.name }}
                </button>
            </h2>
        </div>

        <div id="collapse{{ folder.name|slugify }}" class="collapse" aria-labelledby="heading{{ folder.name|slugify }}">
            <div class="card-body">
                {% if folder.documents %}
                <ul>
                    {% for document in folder.documents %}
                        {{ document }}
                    {% endfor %}
                </ul>
                {% endif %}
                {% if folder.subfolders %}
                {% for subfolder_id, subfolder in folder.subfolders.items %}
                    <div class="subfolder">
                        <!-- Recursive include for subfolders and their documents -->
                        {% include "access_control/folder_structure.html" with folder=subfolder %}
                    </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
