{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}Manage Access for Products{% endblock %}

{% block content %}

{% if messages %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <ul class="messages list-unstyled">
                    {% for message in messages %}
                        <li{% if message.tags %} class="alert {{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}

<div class="container mt-4">
    <form method="post" action="{% url 'access_control:manage_access' product.id %}">
        {% csrf_token %}
        <div class="row">
            <!-- Left Side: Partners -->
            <div class="col-md-4 mb-3">
                <h2>Partners</h2>
                <div class="list-group">
                    {{ form.partners }}
                </div>
            </div>

            <!-- Right Side -->
            <div class="col-md-8">
                <div class="row">
                    <!-- Upper Right: Partners with Access -->
                    <div class="col-12 mb-3">
                        <h2>Partners with Access</h2>
                        <div class="list-group" id="partners-with-access">
                            {% for access in partners_with_access %}
                                <a href="#" class="list-group-item list-group-item-action">{{ access }}</a>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Lower Right: Folder Structure -->
                    <div class="col-12">
                        <h2>Folder Structure</h2>
                        <div id="folder-structure">
                            <div>
                                {% include './_folder_structure.html' with folders=folders %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12">
                <button type="submit" name="action" value="grant_access" class="btn btn-primary">Grant Access</button>
                <div>
                    <h3>Remove Access</h3>
                    {{ form.remove_permissions }}
                    <button type="submit" name="action" value="remove_access" class="btn btn-danger">Remove Access</button>

                </div>
            </div>
        </div>
    </form>
</div>


{% block javascript %}


{% endblock %}

{% endblock %}