{% extends "base_users.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}


{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'exports/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'exports/css/modal.css' %}">

<style>

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.wrapper {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.title {
    padding: 20px;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
}

.tab-buttons {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}

.tab-button {
    flex: 1;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #f8f8f8;
    border-right: 1px solid #eee;
}

.tab-button:last-child {
    border-right: none;
}

.tab-button.active {
    background-color: #007bff;
    color: white;
}

.list-group {
    padding: 10px;
    max-height: 500px;
}

.list-group-item-access {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.list-group-item-access:hover {
    background-color: #f0f0f0;
}

.checkbox-container, .checkbox-container-radio {
    display: flex;
    align-items: center;
    gap: 10px;
}


.form-check-input {
    margin-right: 10px;
}

.table-responsive {
    overflow-x: auto;
    padding: 10px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.table th, .table td {
    padding: 10px;
    border-bottom: 1px solid #eee;
    text-align: left;
}

.table th {
    background-color: #f8f8f8;
    font-weight: bold;
}

.table tbody tr:hover {
    background-color: #f0f0f0;
}

.toolbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    background-color: #e7f3ff;
    border-radius: 5px;
    gap: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.tooltip-text {
    visibility: hidden;
    width: 100px;
    font-size: 13px;
    background-color: #2e2e2e;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -20px;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1000;
}

.img-wrapper:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.img-wrapper img {
    z-index: 9999;
}

</style>
{% endblock extra_css %}

{% block title %}Manage Access for Products{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <!-- Left Side: Partners -->
        <div id="mypartners" class="wrapper" style="flex: 1;">
            <div class="title">Partners</div>
            <div class="tabs">
                <div class="tab {% if last_active_tab == 'all' %}active{% endif %}" data-tab="all">All</div>
                <div class="tab {% if last_active_tab == 'current' %}active{% endif %}" data-tab="current">Granted</div>
            </div>
            <div class="list-group" id="all-partners" style="{% if last_active_tab != 'all' %}display:none{% endif %}">
                <form method="post" action="{% url 'access_control:manage_access' product_uuid %}">
                    {% csrf_token %}
                    {% for partner in partners %}
                        <div class="list-group-item-access">
                            <div class="checkbox-container">
                                <input type="checkbox" name="partners" value="{{ partner.partner_id }}" id="partner_{{ partner.partner_id }}">
                                <label for="partner_{{ partner.partner_id }}">{{ partner.company_name }}</label>
                                <!-- Add a link to the partner product explorer view -->
                                <a href="{% url 'products:partner_product_explorer' product_uuid=product_uuid partner_uuid=partner.partner_id %}">View as Partner</a>
                            </div>
                        </div>
                    {% empty %}
                    <div class="empty-state">
                        <img src="{% static 'images/empty_state/no_partners.png' %}" alt="No Partners" class="empty-img">
                        <p>Partners added will be shown here</p>
                    </div>
                    {% endfor %}
                    <button type="submit" name="action" value="grant_access" class="btn">Grant Access</button>
                </form>
            </div>
            <div class="list-group" id="current-access" style="{% if last_active_tab != 'current' %}display:none{% endif %}">
                <form method="post" action="{% url 'access_control:manage_access' product_uuid %}">
                    {% csrf_token %}
                    <div class="toolbar">
                        <button type="submit" name="action" value="update_access" class="btn">Update Access</button>
                    </div>
                    {% for access in partners_with_access %}
                    <div class="list-group-item-access partner-access-item" data-partner-id="{{ access.partner_uuid }}">
                        <div class="checkbox-container-radio">
                            <input type="radio" name="partners" value="{{ access.partner_uuid }}" id="partner_{{ access.partner_uuid }}">
                            <label for="partner_{{ access.partner_uuid }}">{{ access.company_name }}</label>
                        </div>
                        <button type="button" class="remove-btn" data-partner-id="{{ access.partner_uuid }}" onclick="removeAccess(this.getAttribute('data-partner-id'))">Remove</button>
                    </div>
                    
                    {% empty %}
                    <div class="empty-state">
                        <img src="{% static 'images/empty_state/no_partners.png' %}" alt="No Partners" class="empty-img">
                        <p>Partners granted access will be shown here</p>
                    </div>
                    {% endfor %}
                </form>
            </div>
        </div>

        <!-- Right Side: Product Details -->
        <div class="wrapper" style="flex: 2;">
            <div class="title">{{ product.product_name }}</div>
            <div class="toolbar">
                <input type="checkbox" class="" id="selectAll">
                <label for="selectAll">Select All</label>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Date Modified</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in root_folders_data %}
                            {% include 'access_control/_folder_structure.html' with folder=item.folder documents=item.documents folder_uuid=item.folder_uuid depth=item.depth subfolders=item.subfolders %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'products/js/access_control.js' %}"></script>

<script>
    
var removeAccessBaseUrl = "{% url 'access_control:remove_access' product_uuid 9999 %}".replace('/9999', '');

function removeAccess(partnerId) {
    
    document.getElementById('confirmationModal').style.display = 'block';

    document.getElementById('confirmBtn').onclick = function() {
        const url = `${removeAccessBaseUrl}${partnerId}/`;
        const data = { 'csrfmiddlewaretoken': '{{ csrf_token }}' };
        $.post(url, data, function(response) {
            if(response.success) {
                sessionStorage.setItem('message', 'Access removed successfully.');
                sessionStorage.setItem('messageType', 'success');
            } else {
                sessionStorage.setItem('message', 'Failed to remove access. Please try again.');
                sessionStorage.setItem('messageType', 'error');
            }
        }).fail(function() {
            sessionStorage.setItem('message', 'Error connecting to the server. Please try again.');
            sessionStorage.setItem('messageType', 'error');
        }).always(function() {
            location.reload(); // Reload the page to display the message
        });
    };
    document.querySelectorAll('.close-modal-btn').forEach(btn => {
        btn.addEventListener('click', function() {
            document.getElementById('confirmationModal').style.display = 'none';
        });
    });
}

document.addEventListener('DOMContentLoaded', function() {
    const message = sessionStorage.getItem('message');
    const messageType = sessionStorage.getItem('messageType');

    if (message && messageType) {
        showMessage(message, messageType); // Use your existing showMessage function
        sessionStorage.removeItem('message'); // Clear the message
        sessionStorage.removeItem('messageType'); // Clear the message type
    }
});
</script>

<script>
    // Define 'productId' at the top of your script or in a separate script block before using it
    const productId = "{{ product_uuid }}"; // Dynamically set the productId using Django's template language
</script>

<script>
    //function to switch all and granted tab
    document.addEventListener('DOMContentLoaded', function () {
        // Get all tab buttons
        const tabButtons = document.querySelectorAll('.tab');

        // Add click event listeners to each tab button
        tabButtons.forEach(button => {
            button.addEventListener('click', function () {
                // Remove 'active' class from all tab buttons
                tabButtons.forEach(btn => btn.classList.remove('active'));

                // Add 'active' class to the clicked tab button
                this.classList.add('active');

                // Get the data-tab attribute to know which tab to show
                const tabToShow = this.getAttribute('data-tab');

                // Hide all partner lists
                document.querySelectorAll('.list-group').forEach(list => {
                    list.style.display = 'none';
                });

                // Show the selected partner list
                if (tabToShow === 'all') {
                    document.getElementById('all-partners').style.display = 'block';
                } else if (tabToShow === 'current') {
                    document.getElementById('current-access').style.display = 'block';
                }
            });
        });
    });

    //function to select partner
</script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const selectAllCheckbox = document.getElementById('selectAll');
        const checkboxes = document.querySelectorAll('.table input[type="checkbox"]'); // Ensure this targets only the intended checkboxes

        selectAllCheckbox.addEventListener('change', function() {
            const isChecked = this.checked;
            checkboxes.forEach(function(checkbox) {
                checkbox.checked = isChecked;
                // Manually dispatch a 'change' event for each checkbox
                const event = new Event('change', {
                    'bubbles': true, // Allow the event to bubble up through the DOM
                    'cancelable': true // Allow the event to be cancellable
                });
                checkbox.dispatchEvent(event);
            });
        });
    });
</script>

<!-- fetch clicked partner access and show in the folder explorer -->
<script>
    function fetchPartnerAccessDetails(partnerId) {
        const url = `/access_control/fetch_access_details/${productId}/${partnerId}/`;
        console.log(`Fetching data from: ${url}`);

        fetch(url)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log("Fetched data:", data);
                updateAccessCheckboxes(data.folders, data.documents, data.product_access);
            })
            .catch(error => console.error('Error fetching access details:', error));
    }

    function updateAccessCheckboxes(folders, documents, grantingProductLevelAccess) {
        console.log("Updating checkboxes with folders:", folders, "and documents:", documents);

        // Reset all checkboxes
        document.querySelectorAll('input[name="folders"], input[name="documents"]').forEach(input => {
            input.checked = false; // Reset checkbox state
        });

        // Check the 'selectAll' checkbox based on grantingProductLevelAccess
        const selectAllCheckbox = document.getElementById('selectAll');
        if (grantingProductLevelAccess) {
            selectAllCheckbox.checked = true;
        } else {
            selectAllCheckbox.checked = false;
        }
        selectAllCheckbox.dispatchEvent(new Event('change', { 'bubbles': true }));

        // Check folders and documents
        folders.forEach(folderId => {
            const folderCheckbox = document.querySelector(`input[name="folders"][value="${folderId}"]`);
            if (folderCheckbox) {
                console.log(`Checking folder checkbox with id: ${folderId}`);
                folderCheckbox.checked = true;
                folderCheckbox.dispatchEvent(new Event('change', { 'bubbles': true }));
            } else {
                console.warn(`Folder checkbox with id ${folderId} not found`);
            }
        });

        documents.forEach(documentId => {
            const documentCheckbox = document.querySelector(`input[name="documents"][value="${documentId}"]`);
            if (documentCheckbox) {
                console.log(`Checking document checkbox with id: ${documentId}`);
                documentCheckbox.checked = true;
                documentCheckbox.dispatchEvent(new Event('change', { 'bubbles': true }));
            } else {
                console.warn(`Document checkbox with id ${documentId} not found`);
            }
        });
    }

    document.addEventListener("DOMContentLoaded", function() {
        const partnerItems = document.querySelectorAll(".checkbox-container-radio");
        
        partnerItems.forEach(item => {
            // This handles the main container click
            item.addEventListener("click", function() {
                // Get the partnerId from the parent element (.list-group-item-access)
                const partnerId = this.closest('.partner-access-item').dataset.partnerId;
                console.log(`Fetching access details for partnerId: ${partnerId}`);
                fetchPartnerAccessDetails(partnerId);
                
                // Find the radio button inside the clicked container
                const radioButton = this.querySelector('input[type="radio"]');
                if (radioButton) {
                    radioButton.checked = true;  // Set the radio button as checked
                    radioButton.dispatchEvent(new Event('change', { 'bubbles': true })); // Trigger change event
                }
            });
        });

        // Add event listener to stop propagation on checkbox-container-radio
        const checkboxContainers = document.querySelectorAll('.checkbox-container-radio');
        checkboxContainers.forEach(container => {
            container.addEventListener('click', function(event) {
                event.stopPropagation(); // Prevents the click event from bubbling up to the parent
            });
        });
    });
</script>

    
<!-- Submit form action of manage_access with folder and document ids-->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Select both forms by their action attribute or any unique identifier
        const forms = document.querySelectorAll('form[action="{% url 'access_control:manage_access' product.uuid %}"]');
    
        forms.forEach((form) => {
            form.addEventListener("submit", function(event) {
                console.log("Form submitted");
                removeHiddenInputs(form);

                const selectedFolders = document.querySelectorAll('input[name="folders"]:checked');
                console.log("Selected Folders:", selectedFolders);
                selectedFolders.forEach(function(folder) {
                    const hiddenInput = document.createElement("input");
                    hiddenInput.type = "hidden";
                    hiddenInput.name = "folders";
                    hiddenInput.value = folder.value;
                    form.appendChild(hiddenInput);
                });

                const selectedDocuments = document.querySelectorAll('input[name="documents"]:checked');
                console.log("Selected Documents:", selectedDocuments);
                selectedDocuments.forEach(function(docItem) {
                    const hiddenInput = document.createElement("input");
                    hiddenInput.type = "hidden";
                    hiddenInput.name = "documents";
                    hiddenInput.value = docItem.value;
                    form.appendChild(hiddenInput);
                });
            });
        });
    
        function removeHiddenInputs(form) {
            // Remove any previously added hidden inputs for folders and documents
            const hiddenFolderInputs = form.querySelectorAll('input[type="hidden"][name="folders"]');
            const hiddenDocumentInputs = form.querySelectorAll('input[type="hidden"][name="documents"]');
    
            hiddenFolderInputs.forEach(input => input.remove());
            hiddenDocumentInputs.forEach(input => input.remove());
        }
    });
</script>

<!-- Preserve Focus State on Click and Clear Focus on Tab Change or Selecting Another User with clear all checkboxes checked in folder explorer -->
<script>
document.addEventListener('DOMContentLoaded', function() {
// Track the currently focused list item
    let currentlyFocusedItem = null;
    
    // Add click event listeners to all radio buttons
    document.querySelectorAll('.list-group-item-action').forEach(item => {
        item.addEventListener('click', function(event) {
            const radioButton = this.querySelector('input[type="radio"]');
            // If there's a previously focused item, remove the focus class
            if (currentlyFocusedItem && currentlyFocusedItem !== this) {
                currentlyFocusedItem.classList.remove('focus');
            }
            if (radioButton) {
                radioButton.checked = true; // Explicitly set the radio button to checked
                radioButton.dispatchEvent(new Event('change', { 'bubbles': true })); // Dispatch a change event
            }
            // Set the focus class on the newly clicked item
            this.classList.add('focus');
            currentlyFocusedItem = this; // Update the currently focused item
        });
    });

    // Event listener for tab changes
    document.querySelectorAll('.nav-link').forEach(link => {
        link.addEventListener('click', function() {
            if (currentlyFocusedItem) {
                currentlyFocusedItem.classList.remove('focus');
                clearAllCheckboxes();
                currentlyFocusedItem = null; // Reset focus tracking
            }
        });
    });
});

function clearAllCheckboxes() {
    document.querySelectorAll('input[name="folders"], input[name="documents"]').forEach(input => {
        input.checked = false;
        input.dispatchEvent(new Event('change', { 'bubbles': true })); // Dispatch change event if needed
    });
    // Also, uncheck the 'selectAll' checkbox if applicable
    const selectAllCheckbox = document.getElementById('selectAll');
    if (selectAllCheckbox) {
        selectAllCheckbox.checked = false;
        selectAllCheckbox.dispatchEvent(new Event('change', { 'bubbles': true }));
    }
}

function resetSelections() {
    // Uncheck all checkboxes in partner items
    document.querySelectorAll('.list-group-item-access.flex-column input[type="checkbox"]').forEach(checkbox => {
        checkbox.checked = false;
    });

    // Remove focus class from all partner items
    document.querySelectorAll('.list-group-item-access.flex-column').forEach(item => {
        item.classList.remove('focus');
    });
}

document.addEventListener("DOMContentLoaded", function() {
    
    const togglePartnerSelection = (element) => {
        const checkbox = element.querySelector('input[type="checkbox"]');
        checkbox.checked = !checkbox.checked; // Toggle the checked state

        // Toggle active styling
        if (checkbox.checked) {
            
            element.classList.add('focus');
        } else {
            element.classList.remove('focus');
        }
    };

    // Listen for clicks on partner items
    document.querySelectorAll('.list-group-item-access.flex-column').forEach(item => {
        item.addEventListener('click', function() {
            togglePartnerSelection(this);
        });
    });
    
    document.querySelectorAll('.nav-link').forEach(link => {
        link.addEventListener('click', function() {
            resetSelections();
            clearAllCheckboxes();
        });
    });
});

</script>
{% endblock %}

{% endblock %}