{% for folder_id, folder_info in folders.items %}
    <div class="mt-2">
        <strong>Subfolder: {{ folder_info.name }}</strong>
        {% if folder_info.subfolders %}
            {% include 'access_control/subfolders.html' with folders=folder_info.subfolders %}
        {% endif %}
        {% if folder_info.documents %}
            <ul>
                {% for document_name in folder_info.documents %}
                    <li>Document: {{ document_name }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endfor %}

