{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}View Access{% endblock %}

{% block content %}
<div class="container">
    <div id="folder-actions">
        <a href="{% url 'home' %}" class="btn btn-secondary">Back to Home</a>
        <button id="downloadBtn" class="btn btn-primary" disabled>Download Selected Document</button>
    </div>

    <h2>Access Granted To Me</h2>
    <div id="access-tree"></div>
</div>
<!-- Correct use of json_script -->
{{ products_structure|json_script:"productsStructureData" }}


{% block javascript %}
<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>

<!-- Include jstree library from CDN -->


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/themes/default/style.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


<script>
$(document).ready(function() {
    var productsStructure = JSON.parse(document.getElementById('productsStructureData').textContent);

    var data = convertToJSTreeFormat(productsStructure);

    $('#access-tree').jstree({
        'core': {
            'data': data
        },
        "types": {
            "default": {
                "icon": "fas fa-folder"
            },
            "document": {
                "icon": "fas fa-file"
            },
            "folder": {
                "icon": "fas fa-folder"
            }
        },
        "plugins": ["types"]
    }).on('select_node.jstree', function(e, data) {
        var node = data.instance.get_node(data.selected[0]);
        // Utilize the node type to determine if it's a document
        if (node && node.type === 'document') {
            $('#downloadBtn').prop('disabled', false).data('href', node.a_attr.href);
        } else {
            $('#downloadBtn').prop('disabled', true).data('href', '#');
        }
    });

    $('#downloadBtn').click(function() {
        var href = $(this).data('href');
        if (href && href !== '#') {
            window.open(href, '_blank');
        }
    });
});


function convertToJSTreeFormat(productsStructure) {
    var data = [];
    
    for (var productId in productsStructure) {
        var product = productsStructure[productId];
        var children = [];

        for (var folderId in product.folders) {
            var folder = product.folders[folderId];
            var folderNode = {
                "text": folder.name,
                "children": convertFoldersToJSTree(folder.subfolders),
                "type": "folder"
            };

            // Adjusted to include download links for documents
            folder.documents.forEach(function(doc) {
                var docNode = {
                    "text": doc.name, // Assuming each doc has a 'name' property
                    "icon": "jstree-file",
                    "a_attr": {
                        "href": `/documents/download/${doc.id}/`, // Adjusted for download URL
                        "target": "_blank"
                    },
                    "type": "document"
                };
                folderNode.children.push(docNode);
            });

            children.push(folderNode);
        }

        product.documents.forEach(function(doc) {
            var docNode = {
                "text": doc.name,
                "icon": "jstree-file",
                "a_attr": {
                    "href": doc.download_url,
                    "target": "_blank"
                },
                "type": "document"
            };
            children.push(docNode);
        });

        data.push({
            "text": product.name + " by " + product.parter1,
            "children": children
        });
    }

    return data;
}

function convertFoldersToJSTree(subfolders) {
    var children = [];
    for (var subfolderId in subfolders) {
        var subfolder = subfolders[subfolderId];
        var subfolderNode = {
            "text": subfolder.name,
            "children": [],
            "type": "folder"
        };

        // Adjusted to include download links for documents
        subfolder.documents.forEach(function(doc) {
            console.log(doc);
            var docNode = {
                "text": doc.name,
                "icon": "jstree-file",
                "a_attr": {
                    "href": doc.download_url,
                    "target": "_blank"
                },
                "type": "document"
            };
            subfolderNode.children.push(docNode);
        });

        var subSubfolders = convertFoldersToJSTree(subfolder.subfolders);
        subfolderNode.children = subfolderNode.children.concat(subSubfolders);

        children.push(subfolderNode);
    }
    return children;
}



</script>
{% endblock %}

{% endblock %}