<style>
    .breadcrumb-container {
        background: #f5f5f5;
        padding: 10px 15px;
        border-radius: 5px;
    }
    .breadcrumb-container ol {
        margin-bottom: 0;
    }

    .content-section {
        background: #fff;
        border-radius: 5px;
    }
    
    .content-item {
        padding: 3px 0 3px 10px;
        display: flex;  /* This ensures flexbox is used */
        align-items: center; /* This aligns children (svg, button) vertically in the center */
    }
    
    .content-item:last-child {
        border-bottom: none;
    }
    .action-form {
        margin-top: 20px;
        text-align: center;
    }

    .modal-body p {
        margin: 0 0 20px 0;
    }
    .btn-link {
        text-decoration: none;
    }

    .content-item:hover, .content-item:focus {
        background-color: #eef5fa; /* Darker shade for hover/focus */
        outline: none;
    }


    .open-folder {
        padding: 3px 0 3px 8px;
        font-size: 14px;
        font-weight: 500;
        color: #39739d;
        background-color: transparent;
        border: none;
        text-align: left;
        cursor: pointer;
        outline: none; /* Removes focus border */
        display: block; /* Makes it take the full available width */
        width: 100%; /* Ensures it fills the container */
        text-decoration: none; /* Removes underline if it's accidentally inherited */
    }

    
</style>

{% if entity_type == 'folder' %}
    <div class="modal-title">Moving {{ entity.name }}</div>
{% else %}
    <div class="modal-title">Moving {{ entity.display_filename }}</div>
{% endif %}
<div>
    {% if entity_type == 'folder' %}
        {% if entity.parent %}
            <p class="small">Current location: {{ entity.parent.name }}</p>
        {% else %}
            <p class="small">Current location: Root</p>
        {% endif %}
    {% else %}
        {% if entity.folder %}
            <p class="small">Current location: {{ entity.folder.name }}</p>
        {% else %}
            <p class="small">Current location: Root</p>
        {% endif %}
    {% endif %}
</div>

{% include 'partials/breadcrumbs.html' %}

<div class="content-section" style="height: 33vh;">
    {% for folder in folders %}
    <div class="content-item clickable-div" data-folder-id="{{ folder.id }}" data-product-id="{{ product.id }}">
        <svg class="me-2" width="23" height="20" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16 6.32099V12.642C16 13.4751 15.3473 14.1576 14.5194 14.2179L14.4 14.2222H1.6C0.75651 14.2222 0.0654679 13.5776 0.00438862 12.7599L0 12.642L0 6.32099L16 6.32099ZM6.0155 0C6.45292 0 6.86907 0.176755 7.16925 0.485378L7.26488 0.593075L8.38448 1.97531L14.4 1.97531C15.2435 1.97531 15.9345 2.61995 15.9956 3.43762L16 3.55556V4.74074L0 4.74074L0 1.58025C0 0.747171 0.652702 0.0646597 1.48059 0.00433444L1.6 0L6.0155 0Z" fill="#CCA92D"/>
        </svg>
        <button id="openFolderBtn" class="open-folder" data-folder-id="{{ folder.id }}" data-product-id="{{ product.id }}">{{ folder.name }}</button>
    </div>
    {% endfor %}
</div>
<form class="action-form modal-footer" action="{% url 'products:move_entity' product_id=product.id entity_type=entity_type entity_id=entity.id current_folder_id=current_folder.id %}">
    {% csrf_token %}
    <input type="hidden" name="target_folder_id" value="{{ current_folder.id }}">
    <input type="hidden" name="moving_folder_id" value="{{ moving_folder_id }}">
    <button type="button" class="cancel-btn" id="closeMoveEntityModalBtn">Close</button>
    <button type="submit" class="add-btn">Move Here</button>
</form>


<script>
    document.getElementById('closeMoveEntityModalBtn').addEventListener('click', function() {
        var modal = document.getElementById('moveEntityModal');
        $(modal).modal('hide'); // Using jQuery to hide the modal
    });
</script>