{% extends "base_users.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}Product List{% endblock %}


{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'exports/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'exports/css/modal.css' %}">
<style>
.clickable-row {
    cursor: pointer;
}

th:nth-child(1), td:nth-child(1) {
    width: 1%;
}
th:nth-child(2), td:nth-child(2) {
    width: 15%;
}

th:nth-child(3), td:nth-child(3) {
    width: 10%;
}

th:nth-child(4), td:nth-child(4) {
    width: 10%;
}

th:nth-child(5), td:nth-child(5) {
    width: 5%;
}

th:nth-child(6), td:nth-child(6) {
    width: 5%;
    text-align: center;
}

.page-link.active, .active > .page-link {
    background-color: transparent !important;
    border: none !important;
    color: #295893 !important;
    font-weight: bold !important;
}

.page-link {    
    border: none!important;
}

.table-container-2 {
    display: flex;
    flex-direction: column;
}

.table-wrapper {
    flex-grow: 1;
    overflow-x: auto;
}

.pagination-container {
    position: absolute;
    bottom: 20px;
    right: 10px;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: end;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    color: #007bff;
    text-decoration: none;
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 4px;
}

.page-link:hover {
    background-color: #f1f1f1;
}

.page-item.active .page-link {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
}

.active {
    cursor: default;
}

</style>
{% endblock %}

{% block content %}
<main>
    <div class="background-overlay"></div>
    <div class="content-section-2">
        <div class="content-header-product">
            <div class="header-top">
                <div class="header-title-product">
                    <h3>Product List</h3>
                    <small class="subheading">Total Products: {{ product_count }}</small>
                </div>
                <div class="button-group">
                    <a href="{% url 'products:create_product' %}" class="button-8">New</a>
                </div>
            </div>
            <div class="filter-sort">
                <form method="get" action="" id="filterSortForm">
                    <button type="reset" class="btn-reset" id="resetButton">Reset</button>
                    <input type="text" class="form-control" id="filter_value" name="filter_value" value="{{ request.GET.filter_value }}" placeholder="Filter products">
                    <select class="form-select" name="filter_type" aria-label="Filter type">
                        <option value="product_code" {% if request.GET.filter_type == 'product_code' %}selected{% endif %}>Code</option>
                        <option value="product_name" {% if request.GET.filter_type == 'product_name' %}selected{% endif %}>Name</option>
                    </select>
                    <button type="submit" class="btn-submit">Apply</button>
                </form>
            </div>
        </div>
        <div class="table-container-3">
            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th id="productNameHeader">Product Name <span class="sort-icon desc inactive"></span></th>
                            <th id="productCodeHeader">Product Code <span class="sort-icon desc inactive"></span></th>
                            <th id="productTypeHeader">Product Type <span class="sort-icon desc inactive"></span></th>
                            <th id="updatedAtHeader">Date Modified <span class="sort-icon desc active"></span></th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="productTableBody">
                        {% for item in page_obj %}
                        <tr class="clickable-row" data-href="{% if item.root_folder_id %}{% url 'products:product_explorer_folder' product_id=item.product.id folder_id=item.root_folder_id %}{% endif %}">
                            <td></td>
                            <td class="">{{ item.product.product_name }}</td>
                            <td>{{ item.product.product_code }}</td>
                            <td>{{ item.product.product_type }}</td>
                            <td>{{ item.product.updated_at|date:"Y-m-d"}}</td>
                            <td class="actions">
                                <div class="action-button-container">
                                    <button class="action-button">
                                        <img src="{% static 'images/table_icon/more_vert_24dp_FILL0_wght400_GRAD0_opsz24_333333.png' %}" alt="Actions">
                                    </button>
                                    <div class="action-button-dropdown">
                                        <a href="{% url 'products:edit_product' pk=item.product.id %}" class="dropdown-item">Edit</a>
                                        <form action="{% url 'products:delete_product' pk=item.product.id %}" method="post" class="d-inline">
                                            {% csrf_token %}
                                            <button type="submit" class="dropdown-item text-danger">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="6">No Products Added</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="pagination-container">
                <ul class="pagination">
                    {% for num in page_obj.paginator.page_range %}
                    <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                        <a class="page-link {% if page_obj.number == num %}active disabled{% endif %}" 
                           {% if page_obj.number != num %}href="?page={{ num }}&filter_value={{ request.GET.filter_value|urlencode }}&filter_type={{ request.GET.filter_type|urlencode }}&sort={{ current_sort|urlencode }}&direction={{ current_direction|urlencode }}"{% endif %} 
                           data-page="{{ num }}">
                           {{ num }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</main>

{% block javascript %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    const rows = document.querySelectorAll('.clickable-row');
    rows.forEach(function(row) {
        row.addEventListener('click', function(event) {
            // Check if the click was within the dropdown
            if (!event.target.closest('.dropdown, .dropdown *')) {
                // Navigate to the URL in the data-href attribute
                window.location.href = this.getAttribute('data-href');
            }
        });
    });
});
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
		const resetButton = document.getElementById('resetButton');
		const filterSortForm = document.getElementById('filterSortForm');

		resetButton.addEventListener('click', function() {
			// Clear the form fields
			filterSortForm.reset();

			// Remove the URL query parameters by submitting the form without search parameters
			window.location.href = window.location.pathname;
		});
	});
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const tableBody = document.getElementById('productTableBody');
        const productNameHeader = document.getElementById('productNameHeader');
        const productCodeHeader = document.getElementById('productCodeHeader');
        const productTypeHeader = document.getElementById('productTypeHeader');
        const updatedAtHeader = document.getElementById('updatedAtHeader');
    
        let sortDirection = {
            productName: null,
            productCode: null,
            productType: null,
            updatedAt: 'asc'
        };
    
        function sortTable(column, type, header) {
            // Reset sort directions for all headers except the current one
            Object.keys(sortDirection).forEach(key => {
                if (key !== header.id) {
                    sortDirection[key] = null; // Reset other headers
                }
            });
    
            // If the current header has no sort direction set, initialize it
            if (!sortDirection[header.id]) {
                sortDirection[header.id] = type === 'string' ? 'asc' : 'desc';
            }
    
            const rows = Array.from(tableBody.querySelectorAll('tr'));
            let compareFunction;
    
            if (type === 'string') {
                compareFunction = (a, b) => {
                    const aText = a.querySelector(`td:nth-child(${column})`).textContent.trim();
                    const bText = b.querySelector(`td:nth-child(${column})`).textContent.trim();
                    return sortDirection[header.id] === 'asc' ? aText.localeCompare(bText) : bText.localeCompare(aText);
                };
            } else if (type === 'date') {
                compareFunction = (a, b) => {
                    const aDate = new Date(a.querySelector(`td:nth-child(${column})`).textContent.trim());
                    const bDate = new Date(b.querySelector(`td:nth-child(${column})`).textContent.trim());
                    return sortDirection[header.id] === 'desc' ? aDate - bDate : bDate - aDate;
                };
            }
    
            rows.sort(compareFunction);
            rows.forEach(row => tableBody.appendChild(row));
    
            // Toggle the current header's sort direction
            sortDirection[header.id] = sortDirection[header.id] === 'asc' ? 'desc' : 'asc';
            updateSortIcons(header.id);
        }
    
        function updateSortIcons(activeHeaderId) {
            // Only manage active/inactive states when a sort action is triggered
            document.querySelectorAll('.sort-icon').forEach(icon => {
                icon.classList.add('inactive');
                icon.classList.remove('active');
            });
    
            const activeIcon = document.querySelector(`#${activeHeaderId} .sort-icon`);
            activeIcon.classList.remove('inactive');
            activeIcon.classList.add('active');
            activeIcon.classList.toggle('asc', sortDirection[activeHeaderId] === 'asc');
            activeIcon.classList.toggle('desc', sortDirection[activeHeaderId] === 'desc');
        }
    
        productNameHeader.addEventListener('click', () => {
            sortTable(2, 'string', productNameHeader);
        });
    
        productCodeHeader.addEventListener('click', () => {
            sortTable(3, 'string', productCodeHeader);
        });
    
        productTypeHeader.addEventListener('click', () => {
            sortTable(4, 'string', productTypeHeader);
        });
    
        updatedAtHeader.addEventListener('click', () => {
            sortTable(5, 'date', updatedAtHeader);
        });
    
        // Ensure the correct initial visibility and state of the sort icon
        updateSortIcons('updatedAtHeader');
    });
</script>


{% endblock %}
{% endblock %}


