{% extends "base_users.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}Product List{% endblock %}

{% block extra_css %}
<style>
    .truncate {
        max-width: 150px !important; /* Adjust based on your layout */
        white-space: nowrap !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
    }


    

    .truncate1 {
        max-width: 100px !important; /* Adjust based on your layout */
        white-space: nowrap !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
    }

    #reset-button:disabled {
        color: grey !important;
        background-color: #ffffff !important;
    }
    #reset-button:not(:disabled) {
        color: #295893 !important;
        background-color: #ffffff !important;
    }

    .page-link.active, .active > .page-link {
        background-color: transparent !important;
        border: none !important;
        color: #295893 !important;
        font-weight: bold !important;
    }

    .page-link {    
        border: none!important;
    }

    .sortable-header {
        min-width: 150px;
    }
    

</style>
{% endblock extra_css %}

{% block content %}
<div id="product-list" class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div class="bg-white rounded-3 wrapper">
                <h4 class="text-primary-custom mb-3 fw-bold px-5 py-3 border-bottom">My Products</h4>
                <a href="{% url 'products:create_product' %}" class="btn btn-primary mb-0 mx-5"><small>Create New Product</small></a>
                <a href="{% url 'home' %}" class="btn btn-primary me-2">Back to Home</a>
                
                <div class="d-flex justify-content-start mb-3 pt-4 px-5">
                    <form method="get" class="row g-2 align-items-center">
                        <!-- Input field for filter value -->
                        <div class="col-sm w-auto">
                            <input type="text" id="filter_value" class="form-control form-control-sm" name="filter_value" value="{{ request.GET.filter_value }}" placeholder="Filter products">
                        </div>
                        <!-- Dropdown for choosing filter header -->
                        <div class="col-auto">
                            <select class="form-select form-select-sm" name="filter_type" aria-label="Filter type">
                                <option value="product_code" {% if request.GET.filter_type == 'product_code' %}selected{% endif %}>Code</option>
                                <option value="product_name" {% if request.GET.filter_type == 'product_name' %}selected{% endif %}>Name</option>
                                <option value="product_type" {% if request.GET.filter_type == 'product_type' %}selected{% endif %}>Type</option>
                            </select>
                        </div>
                        <!-- Filter button -->
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary btn-sm" style="height:31px;">
                                <svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="vertical-align: text-top;">
                                    <path d="M21 21L16.6569 16.6569M16.6569 16.6569C18.1046 15.2091 19 13.2091 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19C13.2091 19 15.2091 18.1046 16.6569 16.6569Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </button>
                        </div>
                        <!-- Reset button -->
                        <div class="col-auto">
                            <button type="button" id="reset-button" class="btn btn-sm pt-0" disabled>
                                Reset
                            </button>
                        </div>
                    </form>
                </div>
                
            
                <div class="table-responsive px-5">
                    <table class="table">
                        <thead>
                            <tr>
                                {% with current_sort=request.GET.sort|default:"updated_at" current_direction=request.GET.direction|default:"asc" %}
                                    {% if current_sort == 'product_code' %}
                                        {% if current_direction == 'asc' %}
                                            {% with new_direction="desc" %}
                                                <th scope="col" class="sortable-header">
                                                    <a href="?sort=product_code&direction={{ new_direction }}&filter_value={{ request.GET.filter_value }}&filter_type={{ request.GET.filter_type }}">Code
                                                        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="align-baseline">
                                                            <path d="M17 14L12 9L7 14" stroke="#292929" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </svg>                                                        
                                                    </a>
                                                </th>
                                            {% endwith %}
                                        {% else %}
                                            {% with new_direction="asc" %}
                                                <th scope="col" class="sortable-header">
                                                    <a href="?sort=product_code&direction={{ new_direction }}&filter_value={{ request.GET.filter_value }}&filter_type={{ request.GET.filter_type }}">Code
                                                        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="align-baseline">
                                                            <path d="M7 10L12 15" stroke="#292929" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                            <path d="M12 15L17 10" stroke="#292929" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </svg>
                                                        
                                                    </a>
                                                </th>
                                            {% endwith %}
                                        {% endif %}
                                    {% else %}
                                        <th scope="col" class="sortable-header">
                                            <a href="?sort=product_code&direction={{ new_direction }}&filter_value={{ request.GET.filter_value }}&filter_type={{ request.GET.filter_type }}">Code</a>
                                            </th>
                                    {% endif %}
                                
                                    {% if current_sort == 'product_name' %}
                                        {% if current_direction == 'asc' %}
                                            {% with new_direction="desc" %}
                                                <th scope="col" class="sortable-header">
                                                    <a href="?sort=product_name&direction={{ new_direction }}&filter_value={{ request.GET.filter_value|urlencode }}&filter_type={{ request.GET.filter_type|urlencode }}">Name
                                                        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="align-baseline ">
                                                            <path d="M17 14L12 9L7 14" stroke="#292929" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </svg>  
                                                    </a>
                                                </th>
                                            {% endwith %}
                                        {% else %}
                                            {% with new_direction="asc" %}
                                                <th scope="col" class="sortable-header">
                                                    <a href="?sort=product_name&direction={{ new_direction }}&filter_value={{ request.GET.filter_value|urlencode }}&filter_type={{ request.GET.filter_type|urlencode }}">Name
                                                        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="align-baseline ">
                                                            <path d="M7 10L12 15" stroke="#292929" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                            <path d="M12 15L17 10" stroke="#292929" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </svg>
                                                    </a>
                                                </th>
                                            {% endwith %}
                                        {% endif %}
                                    {% else %}
                                        <th scope="col" class="sortable-header">
                                            <a href="?sort=product_name&direction={{ new_direction }}&filter_value={{ request.GET.filter_value|urlencode }}&filter_type={{ request.GET.filter_type|urlencode }}">Name
                                            </th>
                                    {% endif %}
                                    {% if current_sort == 'product_type' %}
                                        {% if current_direction == 'asc' %}
                                            {% with new_direction="desc" %}
                                                <th scope="col" class="sortable-header">
                                                    <a href="?sort=product_type&direction={{ new_direction }}&filter_value={{ request.GET.filter_value|urlencode }}&filter_type={{ request.GET.filter_type|urlencode }}">Type
                                                        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="align-baseline ">
                                                            <path d="M17 14L12 9L7 14" stroke="#292929" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </svg>
                                                    </a>
                                                </th>
                                            {% endwith %}
                                        {% else %}
                                            {% with new_direction="asc" %}
                                                <th scope="col" class="sortable-header">
                                                    <a href="?sort=product_type&direction={{ new_direction }}&filter_value={{ request.GET.filter_value|urlencode }}&filter_type={{ request.GET.filter_type|urlencode }}">Type
                                                        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="align-baseline ">
                                                            <path d="M7 10L12 15" stroke="#292929" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                            <path d="M12 15L17 10" stroke="#292929" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </svg>
                                                    </a>
                                                </th>
                                            {% endwith %}
                                        {% endif %}
                                    {% else %}
                                        <th scope="col" class="sortable-header">
                                            <a href="?sort=product_type&direction={{ new_direction }}&filter_value={{ request.GET.filter_value|urlencode }}&filter_type={{ request.GET.filter_type|urlencode }}">Type
                                        </th>
                                    {% endif %}
                                    <!--
                                    {% if current_sort == 'product_description' %}
                                        {% if current_direction == 'asc' %}
                                            {% with new_direction="desc" %}
                                                <th scope="col" class="sortable-header">
                                                    <a href="?sort=product_description&direction={{ new_direction }}&filter_value={{ request.GET.filter_value|urlencode }}&filter_type={{ request.GET.filter_type|urlencode }}">Description
                                                        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="align-baseline ">
                                                            <path d="M17 14L12 9L7 14" stroke="#292929" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </svg>
                                                    </a>
                                                </th>
                                            {% endwith %}
                                        {% else %}
                                            {% with new_direction="asc" %}
                                                <th scope="col" class="sortable-header">
                                                    <a href="?sort=product_description&direction={{ new_direction }}&filter_value={{ request.GET.filter_value|urlencode }}&filter_type={{ request.GET.filter_type|urlencode }}">Description
                                                        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="align-baseline ">
                                                            <path d="M7 10L12 15" stroke="#292929" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                            <path d="M12 15L17 10" stroke="#292929" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </svg>
                                                    </a>
                                                </th>
                                            {% endwith %}
                                        {% endif %}
                                    {% else %}
                                        <th scope="col" class="sortable-header">
                                            <a href="?sort=product_description&direction={{ new_direction }}&filter_value={{ request.GET.filter_value|urlencode }}&filter_type={{ request.GET.filter_type|urlencode }}">Description
                                        </th>
                                    {% endif %}
                                    -->
                                    {% if current_sort == 'created_at' %}
                                        {% if current_direction == 'asc' %}
                                            {% with new_direction="desc" %}
                                                <th scope="col" class="sortable-header">
                                                    <a href="?sort=created_at&direction={{ new_direction }}&filter_value={{ request.GET.filter_value|urlencode }}&filter_type={{ request.GET.filter_type|urlencode }}">Date Created
                                                        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="align-baseline ">
                                                            <path d="M17 14L12 9L7 14" stroke="#292929" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </svg>
                                                    </a>
                                                </th>
                                            {% endwith %}
                                        {% else %}
                                            {% with new_direction="asc" %}
                                                <th scope="col" class="sortable-header">
                                                    <a href="?sort=created_at&direction={{ new_direction }}&filter_value={{ request.GET.filter_value|urlencode }}&filter_type={{ request.GET.filter_type|urlencode }}">Date Created
                                                        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="align-baseline ">
                                                            <path d="M7 10L12 15" stroke="#292929" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                            <path d="M12 15L17 10" stroke="#292929" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </svg>
                                                    </a>
                                                </th>
                                            {% endwith %}
                                        {% endif %}
                                    {% else %}
                                        <th scope="col" class="sortable-header">
                                            <a href="?sort=created_at&direction={{ new_direction }}&filter_value={{ request.GET.filter_value|urlencode }}&filter_type={{ request.GET.filter_type|urlencode }}">Date Created
                                        </th>
                                    {% endif %}
                                    {% if current_sort == 'updated_at' %}
                                        {% if current_direction == 'asc' %}
                                            {% with new_direction="desc" %}
                                                <th scope="col" class="sortable-header">
                                                    <a href="?sort=updated_at&direction={{ new_direction }}&filter_value={{ request.GET.filter_value|urlencode }}&filter_type={{ request.GET.filter_type|urlencode }}">Date Modified
                                                        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="align-baseline ">
                                                            <path d="M17 14L12 9L7 14" stroke="#292929" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </svg>
                                                    </a>
                                                </th>
                                            {% endwith %}
                                        {% else %}
                                            {% with new_direction="asc" %}
                                                <th scope="col" class="sortable-header">
                                                    <a href="?sort=updated_at&direction={{ new_direction }}&filter_value={{ request.GET.filter_value|urlencode }}&filter_type={{ request.GET.filter_type|urlencode }}">Date Modified
                                                        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="align-baseline ">
                                                            <path d="M7 10L12 15" stroke="#292929" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                            <path d="M12 15L17 10" stroke="#292929" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </svg>
                                                    </a>
                                                </th>
                                            {% endwith %}
                                        {% endif %}
                                    {% else %}
                                        <th scope="col" class="sortable-header">
                                            <a href="?sort=updated_at&direction={{ new_direction }}&filter_value={{ request.GET.filter_value|urlencode }}&filter_type={{ request.GET.filter_type|urlencode }}">Date Modified
                                        </th>
                                    {% endif %}
                                <th scope="col" class="text-center">Actions</th>
                                {% endwith %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in page_obj %}
                            <tr class="align-middle">
                                <td>{{ item.product.product_code }}</td>
                                <td class="truncate1 pe-3">{{ item.product.product_name }}</td>
                                <td>{{ item.product.product_type }}</td>
                                <!--<td class="truncate pe-3">{{ item.product.product_description|default:"" }}</td>-->
                                <td>{{ item.product.created_at|date:"d-M-Y" }}</td>
                                <td>{{ item.product.updated_at|date:"d-M-Y"}}</td>
                                <td class="text-center">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle px-0 py-1" type="button" id="actionDropdown{{ forloop.counter }}" data-bs-toggle="dropdown" aria-expanded="false">
                                            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_1417_12)">
                                                    <rect x="12" y="12" width="0.01" height="0.01" stroke="#292929" stroke-width="3" stroke-linejoin="round"/>
                                                    <rect x="12" y="5" width="0.01" height="0.01" stroke="#292929" stroke-width="3" stroke-linejoin="round"/>
                                                    <rect x="12" y="19" width="0.01" height="0.01" stroke="#292929" stroke-width="3" stroke-linejoin="round"/>
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_1417_12">
                                                        <rect width="40" height="40" fill="white" transform="translate(0 0.000915527)"/>
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="actionDropdown{{ forloop.counter }}">
                                            <a href="{% url 'products:edit_product' pk=item.product.id %}" class="btn btn-primary me-2">Edit Product</a>
                                            <form action="{% url 'products:delete_product' pk=item.product.id %}" method="post" class="d-inline">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-primary">Delete Product</button>
                                            </form>
                                            <a href="{% url 'products:product_explorer' item.product.id %}?folderId={{ item.root_folder_id }}" class="btn btn-sm" style="background-color: #295893; color: #ffffff;">View</a>
                                        </ul>
                                        
                                    </div>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="pagination" style="float:inline-end">
                        <ul class="pagination justify-content-end">
                            {% for num in page_obj.paginator.page_range %}
                                <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                                    <a class="page-link" href="?page={{ num }}&filter_value={{ request.GET.filter_value|urlencode }}&filter_type={{ request.GET.filter_type|urlencode }}&sort={{ current_sort|urlencode }}&direction={{ current_direction|urlencode }}">{{ num }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

{% block javascript %}

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const filterValueInput = document.getElementById('filter_value');
        const resetButton = document.getElementById('reset-button');
        const filterTypeSelect = document.querySelector('[name="filter_type"]');

        // Function to check if filters are applied
        function areFiltersApplied() {
            const queryParams = new URLSearchParams(window.location.search);
            return queryParams.has('filter_value') || queryParams.has('filter_type');
        }

        function updateResetButtonState() {
            if (areFiltersApplied()) {
                resetButton.disabled = false;
                resetButton.classList.remove('btn-secondary');
                resetButton.classList.add('btn-primary');
                resetButton.style.color = "#ffffff"; // Ensure text color is white when enabled
            } else {
                resetButton.disabled = true;
                resetButton.classList.add('btn-secondary');
                resetButton.classList.remove('btn-primary');
                resetButton.style.color = "#6c757d"; // Change text color to grey
            }
        }

        updateResetButtonState();

        // Reset button event listener
        resetButton.addEventListener('click', function() {
            window.location.href = window.location.pathname; // Redirect to the page without query parameters
        });
    });
</script>

<script>
	document.addEventListener("DOMContentLoaded", function() {
		// Get the current page variable from the template
	
		// Find the navigation item corresponding to the current page and add the "active" class
		const navItems = document.querySelectorAll(".nav-bar-item");
		navItems.forEach(item => {
			if (item.querySelector("span").textContent.trim() === "Products") {
				item.classList.add("active");
			}
		});
	});
</script>

{% endblock %}
{% endblock %}


